@model FileManager.Domain.Entity.TaskEntity

@{
    ViewData["Title"] = "Delete";
}

<h1>Удаление</h1>

<h3>Вы действительно хотите удалить задачу и связанные с ней назначения?</h3>
<div>
    <h4>Задача</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeBegin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeBegin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DayActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DayActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Group)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Group)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsProgress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsProgress)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SourceCatalog)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SourceCatalog)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileMask)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileMask)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Delay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Delay)
        </dd>
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountExecute)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountExecute)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArchiveCatalog)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArchiveCatalog)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BadArchiveCatalog)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BadArchiveCatalog)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleteSource)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleteSource)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxAmountFiles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxAmountFiles)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DublNameJr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DublNameJr)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TaskId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-primary">Назад к списку</a>
    </form>
</div>
