@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<TaskStepEntity>;
@{
}


<div class="main-table grid" scrollable="">
    <div class="table-header-div">
        <table class="table-header" id="tableSteps-header">
            <colgroup>
                <col style="min-width:140px;width:140px;">
                <col style="min-width:110px;width:110px;">
                <col style="min-width:110px;width:110px;">
                <col style="min-width:170px;width:170px;">
                <col style="min-width:100px;width:100px;">
                <col style="min-width:250px;width:250px;">
                <col style="min-width:120px;width:120px;">
                <col style="min-width:100px;width:100px;">
                <col style="min-width:200px;width:200px;">
                <col style="min-width:110px;width:100%;">
            </colgroup>
            <thead>
                <tr>
                    <th>
                        <p></p>
                        <div class="separate"></div>
                        <div class="sorter"></div>
                    </th>
                    <th>
                        <p>Номер шага</p>
                        <div class="separate"></div>
                        <div class="sorter"></div>
                    </th>
                    <th>
                        <p>Вкл/Выкл</p>
                        <div class="separate"></div>
                        <div class="sorter"></div>
                    </th>
                    <th>
                        <p>Краткое описание</p>
                        <div class="separate"></div>
                        <div class="sorter"></div>
                    </th>
                    <th>
                        <p>Маска</p>
                        <div class="separate"></div>
                        <div class="sorter"></div>
                    </th>
                    <th>
                        <p>Операция</p>
                        <div class="separate"></div>
                        <div class="sorter"></div>
                    </th>
                    <th>
                        <p>Прерывание</p>
                        <div class="separate"></div>
                        <div class="sorter"></div>
                    </th>
                    <th>
                        <p>Св-ва</p>
                        <div class="separate"></div>
                        <div class="sorter"></div>
                    </th>
                    <th>
                        <p>Источник</p>
                        <div class="separate"></div>
                        <div class="sorter"></div>
                    </th>
                    <th>
                        <p>Назначение</p>
                        <div class="separate"></div>
                        <div class="sorter"></div>
                    </th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="table-body-div">
        <table class="table-body" id="tableSteps">
            <colgroup>
                <col style="min-width:140px;width:140px;">
                <col style="min-width:110px;width:110px;">
                <col style="min-width:110px;width:110px;">
                <col style="min-width:170px;width:170px;">
                <col style="min-width:100px;width:100px;">
                <col style="min-width:250px;width:250px;">
                <col style="min-width:120px;width:120px;">
                <col style="min-width:100px;width:100px;">
                <col style="min-width:200px;width:200px;">
                <col style="min-width:110px;width:100%;">
            </colgroup>
            <tbody>
                @foreach (var item in @Model)
                {
                    <tr onclick="SelectRow('tableSteps'), SetCookieStepNumber('@item.StepNumber')" ondblclick="StepOperationInfo('@item.StepNumber', '@item.OperationName')">
                        <td>
                            <div class="group-btns-add">
                                <div class="btn-add" onclick="StepDetails('@item.TaskId', '@item.StepNumber')" title="Просмотр">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11.9997 9.5C11.3366 9.5 10.7007 9.76339 10.2319 10.2322C9.76307 10.7011 9.49967 11.337 9.49967 12C9.49967 12.663 9.76307 13.2989 10.2319 13.7678C10.7007 14.2366 11.3366 14.5 11.9997 14.5C12.6627 14.5 13.2986 14.2366 13.7674 13.7678C14.2363 13.2989 14.4997 12.663 14.4997 12C14.4997 11.337 14.2363 10.7011 13.7674 10.2322C13.2986 9.76339 12.6627 9.5 11.9997 9.5ZM11.9997 16.1667C10.8946 16.1667 9.8348 15.7277 9.0534 14.9463C8.27199 14.1649 7.83301 13.1051 7.83301 12C7.83301 10.8949 8.27199 9.83512 9.0534 9.05372C9.8348 8.27232 10.8946 7.83333 11.9997 7.83333C13.1047 7.83333 14.1645 8.27232 14.946 9.05372C15.7274 9.83512 16.1663 10.8949 16.1663 12C16.1663 13.1051 15.7274 14.1649 14.946 14.9463C14.1645 15.7277 13.1047 16.1667 11.9997 16.1667ZM11.9997 5.75C7.83301 5.75 4.27467 8.34167 2.83301 12C4.27467 15.6583 7.83301 18.25 11.9997 18.25C16.1663 18.25 19.7247 15.6583 21.1663 12C19.7247 8.34167 16.1663 5.75 11.9997 5.75Z" fill="#999999" />
                                    </svg>
                                </div>
                                <div class="btn-add" onclick="EditStep('@item.TaskId', '@item.StepNumber')" title="Редактировать">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M4.5 16.5501V19.0834C4.5 19.3167 4.68333 19.5001 4.91667 19.5001H7.45C7.55833 19.5001 7.66667 19.4584 7.74167 19.3751L16.8417 10.2834L13.7167 7.15842L4.625 16.2501C4.54167 16.3334 4.5 16.4334 4.5 16.5501ZM19.2583 7.86675C19.3356 7.78966 19.3969 7.69808 19.4387 7.59727C19.4805 7.49646 19.502 7.38839 19.502 7.27925C19.502 7.17011 19.4805 7.06204 19.4387 6.96123C19.3969 6.86042 19.3356 6.76885 19.2583 6.69175L17.3083 4.74175C17.2312 4.6645 17.1397 4.60321 17.0389 4.56139C16.938 4.51957 16.83 4.49805 16.7208 4.49805C16.6117 4.49805 16.5036 4.51957 16.4028 4.56139C16.302 4.60321 16.2104 4.6645 16.1333 4.74175L14.6083 6.26675L17.7333 9.39175L19.2583 7.86675Z" fill="#999999" />
                                    </svg>
                                </div>
                                <div class="btn-add" onclick="StepOperationInfo('@item.StepNumber', '@item.OperationName')" title="Доп. условия">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12.4942 21.381L12.485 21.3827L12.4259 21.4119L12.4092 21.4152L12.3975 21.4119L12.3384 21.3827C12.3295 21.3799 12.3228 21.3813 12.3184 21.3869L12.315 21.3952L12.3009 21.7519L12.305 21.7685L12.3134 21.7794L12.4 21.841L12.4125 21.8444L12.4225 21.841L12.5092 21.7794L12.5192 21.766L12.5225 21.7519L12.5084 21.396C12.5061 21.3872 12.5014 21.3822 12.4942 21.381ZM12.715 21.2869L12.7042 21.2885L12.55 21.366L12.5417 21.3744L12.5392 21.3835L12.5542 21.7419L12.5584 21.7519L12.565 21.7577L12.7325 21.8352C12.7431 21.838 12.7511 21.8358 12.7567 21.8285L12.76 21.8169L12.7317 21.3052C12.7289 21.2952 12.7234 21.2891 12.715 21.2869ZM12.1192 21.2885C12.1155 21.2863 12.1111 21.2856 12.1069 21.2865C12.1027 21.2875 12.0991 21.29 12.0967 21.2935L12.0917 21.3052L12.0634 21.8169C12.0639 21.8269 12.0686 21.8335 12.0775 21.8369L12.09 21.8352L12.2575 21.7577L12.2659 21.751L12.2692 21.7419L12.2834 21.3835L12.2809 21.3735L12.2725 21.3652L12.1192 21.2885Z" fill="#999999" />
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.4167 5.33301C17.4167 5.00149 17.285 4.68354 17.0506 4.44912C16.8162 4.2147 16.4982 4.08301 16.1667 4.08301C15.8352 4.08301 15.5172 4.2147 15.2828 4.44912C15.0484 4.68354 14.9167 5.00149 14.9167 5.33301V5.74967H5.33337C5.00185 5.74967 4.68391 5.88137 4.44949 6.11579C4.21507 6.35021 4.08337 6.66815 4.08337 6.99967C4.08337 7.3312 4.21507 7.64914 4.44949 7.88356C4.68391 8.11798 5.00185 8.24967 5.33337 8.24967H14.9167V8.66634C14.9167 8.99786 15.0484 9.3158 15.2828 9.55022C15.5172 9.78465 15.8352 9.91634 16.1667 9.91634C16.4982 9.91634 16.8162 9.78465 17.0506 9.55022C17.285 9.3158 17.4167 8.99786 17.4167 8.66634V8.24967H18.6667C18.9982 8.24967 19.3162 8.11798 19.5506 7.88356C19.785 7.64914 19.9167 7.3312 19.9167 6.99967C19.9167 6.66815 19.785 6.35021 19.5506 6.11579C19.3162 5.88137 18.9982 5.74967 18.6667 5.74967H17.4167V5.33301ZM5.33337 10.7497C5.00185 10.7497 4.68391 10.8814 4.44949 11.1158C4.21507 11.3502 4.08337 11.6682 4.08337 11.9997C4.08337 12.3312 4.21507 12.6491 4.44949 12.8836C4.68391 13.118 5.00185 13.2497 5.33337 13.2497H6.58337V13.6663C6.58337 13.9979 6.71507 14.3158 6.94949 14.5502C7.18391 14.7846 7.50185 14.9163 7.83337 14.9163C8.16489 14.9163 8.48284 14.7846 8.71726 14.5502C8.95168 14.3158 9.08337 13.9979 9.08337 13.6663V13.2497H18.6667C18.9982 13.2497 19.3162 13.118 19.5506 12.8836C19.785 12.6491 19.9167 12.3312 19.9167 11.9997C19.9167 11.6682 19.785 11.3502 19.5506 11.1158C19.3162 10.8814 18.9982 10.7497 18.6667 10.7497H9.08337V10.333C9.08337 10.1689 9.05104 10.0063 8.98822 9.85465C8.92541 9.703 8.83333 9.5652 8.71726 9.44912C8.60118 9.33305 8.46339 9.24098 8.31173 9.17816C8.16007 9.11534 7.99753 9.08301 7.83337 9.08301C7.66922 9.08301 7.50668 9.11534 7.35502 9.17816C7.20336 9.24098 7.06556 9.33305 6.94949 9.44912C6.83342 9.5652 6.74134 9.703 6.67852 9.85465C6.61571 10.0063 6.58337 10.1689 6.58337 10.333V10.7497H5.33337ZM4.08337 16.9997C4.08337 16.6682 4.21507 16.3502 4.44949 16.1158C4.68391 15.8814 5.00185 15.7497 5.33337 15.7497H14.9167V15.333C14.9167 15.0015 15.0484 14.6835 15.2828 14.4491C15.5172 14.2147 15.8352 14.083 16.1667 14.083C16.4982 14.083 16.8162 14.2147 17.0506 14.4491C17.285 14.6835 17.4167 15.0015 17.4167 15.333V15.7497H18.6667C18.9982 15.7497 19.3162 15.8814 19.5506 16.1158C19.785 16.3502 19.9167 16.6682 19.9167 16.9997C19.9167 17.3312 19.785 17.6491 19.5506 17.8836C19.3162 18.118 18.9982 18.2497 18.6667 18.2497H17.4167V18.6663C17.4167 18.9979 17.285 19.3158 17.0506 19.5502C16.8162 19.7846 16.4982 19.9163 16.1667 19.9163C15.8352 19.9163 15.5172 19.7846 15.2828 19.5502C15.0484 19.3158 14.9167 18.9979 14.9167 18.6663V18.2497H5.33337C5.00185 18.2497 4.68391 18.118 4.44949 17.8836C4.21507 17.6491 4.08337 17.3312 4.08337 16.9997Z" fill="#999999" />
                                    </svg>
                                </div>
                                <div class="btn-add" onclick="ModalDeleteStep('@item.StepId', '@item.StepNumber')">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M7.83332 19.5C7.37498 19.5 6.98276 19.3369 6.65665 19.0108C6.33054 18.6847 6.1672 18.2922 6.16665 17.8333V7C5.93054 7 5.73276 6.92 5.57332 6.76C5.41387 6.6 5.33387 6.40222 5.33332 6.16667C5.33276 5.93111 5.41276 5.73333 5.57332 5.57333C5.73387 5.41333 5.93165 5.33333 6.16665 5.33333H9.49998C9.49998 5.09722 9.57998 4.89944 9.73998 4.74C9.89998 4.58056 10.0978 4.50056 10.3333 4.5H13.6666C13.9028 4.5 14.1008 4.58 14.2608 4.74C14.4208 4.9 14.5005 5.09778 14.5 5.33333H17.8333C18.0694 5.33333 18.2675 5.41333 18.4275 5.57333C18.5875 5.73333 18.6672 5.93111 18.6666 6.16667C18.6661 6.40222 18.5861 6.60028 18.4266 6.76083C18.2672 6.92139 18.0694 7.00111 17.8333 7V17.8333C17.8333 18.2917 17.6703 18.6842 17.3441 19.0108C17.018 19.3375 16.6255 19.5006 16.1666 19.5H7.83332ZM10.3333 16.1667C10.5694 16.1667 10.7675 16.0867 10.9275 15.9267C11.0875 15.7667 11.1672 15.5689 11.1666 15.3333V9.5C11.1666 9.26389 11.0866 9.06611 10.9266 8.90667C10.7666 8.74722 10.5689 8.66722 10.3333 8.66667C10.0978 8.66611 9.89998 8.74611 9.73998 8.90667C9.57998 9.06722 9.49998 9.265 9.49998 9.5V15.3333C9.49998 15.5694 9.57998 15.7675 9.73998 15.9275C9.89998 16.0875 10.0978 16.1672 10.3333 16.1667ZM13.6666 16.1667C13.9028 16.1667 14.1008 16.0867 14.2608 15.9267C14.4208 15.7667 14.5005 15.5689 14.5 15.3333V9.5C14.5 9.26389 14.42 9.06611 14.26 8.90667C14.1 8.74722 13.9022 8.66722 13.6666 8.66667C13.4311 8.66611 13.2333 8.74611 13.0733 8.90667C12.9133 9.06722 12.8333 9.265 12.8333 9.5V15.3333C12.8333 15.5694 12.9133 15.7675 13.0733 15.9275C13.2333 16.0875 13.4311 16.1672 13.6666 16.1667Z" fill="var(--gray)" />
                                    </svg>
                                </div>
                            </div>
                        </td>
                        <td><p>@item.StepNumber</p></td>
                        <td>
                            <div>
                                <label class="toggle-checkbox">
                                    <input type="checkbox" checked="@item.IsActive" onclick="OnOffStep('@item.StepNumber')">
                                    <span class="toggle-checkbox-switch"></span>
                                </label>
                            </div>
                        </td>
                        <td><p>@item.Description</p></td>
                        <td><p>@item.FileMask</p></td>
                        <td><p>@item.OperationName</p></td>
                        <td>
                            <div>
                                <label class="toggle-checkbox" style="pointer-events: none;">
                                    <input type="checkbox" checked="@item.IsBreak" readonly>
                                    <span class="toggle-checkbox-switch"></span>
                                </label>
                            </div>
                        </td>
                        <td>
                                @if (item.OperationId != 0)
                                {
                                    <p>+</p>
                                }
                            </td>
                        <td><p>@item.Source</p></td>
                        <td><p>@item.Destination</p></td>
                    </tr>
                }
                
            </tbody>
        </table>
    </div>
</div>
<script>

    ActiveSteps();
</script>