@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model OperationExistEntity
@{
}
@if (Model != null)
{
    <div class="modal-body">
        <div class="modal-body-content">
            <div class="modal-row">
                <div class="modal-td">
                    <p class="td-title">stepId</p>
                    <p class="td-text">@Model.StepId</p>
                </div>
                <div class="modal-td">
                    <p class="td-title">operId</p>
                    <p class="td-text">@Model.OperationId</p>
                </div>
                <div class="modal-td">
                    <p class="td-title">Информировать об успехе</p>
                    <p class="td-text">
                        <div>
                            <label class="toggle-checkbox" style="pointer-events: none;">
                                <input type="checkbox" checked="@Model.InformSuccess" readonly>
                                <span class="toggle-checkbox-switch"></span>
                            </label>
                        </div>
                    </p>
                </div>
                <div class="modal-td">
                    <p class="td-title">Группа рассылки</p>
                    <p class="td-text">@Model.AddresseeGroupId</p>
                </div>
                <div class="modal-td">
                    <p class="td-title">Дополнительный текст</p>
                    <p class="td-text">@Model.AdditionalText</p>
                </div>
            </div>
            <div class="modal-row">
                <div class="modal-td">
                    <p class="td-title">Ожидаемый результат</p>
                    <p class="td-text">@Model.ExpectedResult.GetDescription()</p>
                </div>
                <div class="modal-td">
                    <p class="td-title">Прервать задачу</p>
                    <p class="td-text">
                        <div>
                            <label class="toggle-checkbox" style="pointer-events: none;">
                                <input type="checkbox" checked="@Model.BreakTaskAfterError" readonly>
                                <span class="toggle-checkbox-switch"></span>
                            </label>
                        </div>
                    </p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="btn-full" onclick="ShowModal('modal-delete-operation')">
                Удалить
            </div>
            <div class="btn-full" onclick="StepOperationEdit()">
                Редактировать
            </div>
        </div>
    </div>
}
else
{
    <div class="modal-body">
        <div class="modal-body-content">
            <span>Свойства операции не настроены</span>
        </div>
        <div class="modal-footer">
            <div class="btn-full" onclick="StepOperationEdit()">
                Добавить
            </div>
        </div>
    </div>
}
