@using System.Security.Claims;
@using FileManager.Core.Interfaces.Services
@inject ITaskService taskService
@inject IAddresseeService addresseeService


<!DOCTYPE html>
<html lang="ru">
<head>
    <title>@ViewData["Title"]</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>


    <div class="left-menu" id="left-menu" style="">
        <div class="left-menu-logo">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" id="menu-close" onclick="HideMenu()" style="display: block;">
                <rect x="3.63599" y="14.9497" width="16" height="2" transform="rotate(-45 3.63599 14.9497)" fill="white" />
                <rect x="5.05029" y="3.63647" width="16" height="2" transform="rotate(45 5.05029 3.63647)" fill="white" />
            </svg>
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" id="menu-open" onclick="OpenMenu()" style="display: none;">
                <rect x="3" y="8.99994" width="14" height="2" fill="white" />
                <rect x="3" y="3.99994" width="14" height="2" fill="white" />
                <rect x="3" y="13.9999" width="14" height="2" fill="white" />
            </svg>
            <svg width="153" height="14" viewBox="0 0 153 14" fill="none" xmlns="http://www.w3.org/2000/svg" id="menu-logo">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M153 13.511L152.161 13.4728L151.346 13.4374L150.506 13.4756L149.687 13.511L145.458 7.42317V13.511L144.717 13.4728L143.992 13.4374L143.267 13.4756L142.526 13.511V0.562648L143.163 0.630049L143.992 0.674982L144.402 0.665451L144.896 0.620517L145.458 0.562648V6.36315C145.972 5.78106 146.541 5.12748 147.162 4.40378C147.685 3.79513 148.244 3.1293 148.849 2.4056C149.369 1.77789 149.928 1.30541 150.526 0.562648L150.916 0.620517L151.267 0.665451L151.583 0.674982C151.644 0.674982 151.726 0.671578 151.82 0.665451C151.914 0.659323 152.031 0.646388 152.171 0.630049L152.61 0.562648V0.713107C152.171 1.12636 151.719 1.51987 151.254 1.99099C150.786 2.46483 150.309 2.79639 149.821 3.31516C148.823 4.38472 148.072 5.22075 147.561 5.82871L153 13.2577V13.511ZM137.689 13.4374L136.975 13.4756L136.243 13.511V7.09366C135.723 7.09366 135.228 7.08753 134.76 7.07119C134.295 7.05553 133.795 7.03919 133.262 7.02013C133.083 7.02013 132.663 7.03307 132.004 7.05553C131.341 7.08072 130.765 7.09366 130.278 7.09366V13.511L129.537 13.4728L128.812 13.4374C128.711 13.4374 128.61 13.4374 128.506 13.4374C128.33 13.4565 128.188 13.4694 128.08 13.4756L127.346 13.511V0.562648L127.918 0.620517L128.402 0.665451L128.812 0.674982L129.221 0.665451L129.716 0.620517L130.278 0.562648V5.55639C130.817 5.55639 131.331 5.56592 131.815 5.58907C132.303 5.61154 132.784 5.6306 133.262 5.64966C133.685 5.62379 134.185 5.60473 134.76 5.58567C135.336 5.56592 135.83 5.55639 136.243 5.55639V0.562648L136.805 0.620517L137.28 0.665451L137.689 0.674982L138.118 0.655919L138.613 0.620517L139.165 0.562648V13.511L138.44 13.4728L137.689 13.4374ZM123.718 13.4374L122.882 13.4756L122.064 13.511C121.819 12.7491 121.641 12.1882 121.52 11.8328C121.309 11.2119 121.156 10.77 121.062 10.5011C120.942 10.1614 120.815 9.8346 120.682 9.51462H116.137L115.656 10.8599L115.126 12.3488L114.766 13.4953L114.327 13.466L113.852 13.4374L113.397 13.466L112.919 13.4953L118.5 0.393127C118.748 0.431252 118.991 0.450996 119.232 0.450996C119.469 0.450996 119.716 0.431252 119.977 0.393127L125.424 13.511L124.567 13.4728L123.718 13.4374ZM118.5 3.86866L116.667 8.34227H120.233L118.5 3.86866ZM106.908 13.4374H102.784V0.562648H111.414C111.381 0.694045 111.356 0.831568 111.336 0.9759C111.317 1.12023 111.307 1.20942 111.307 1.34081C111.307 1.58386 111.343 1.85959 111.411 2.16664C110.085 1.99099 108.186 1.90452 105.716 1.90452V6.01798H107.783C108.683 6.01798 109.454 6.13644 110.094 6.37336C110.731 6.61369 111.219 6.97179 111.551 7.45857C111.885 7.94263 112.051 8.54447 112.051 9.26204C112.051 12.0445 110.338 13.4374 106.908 13.4374ZM108.466 7.79217C108.086 7.31492 107.637 7.078 107.117 7.078H105.716V12.3584C106.063 12.3584 106.356 12.3488 106.587 12.3298C106.821 12.31 107.023 12.278 107.191 12.227C107.796 12.0574 108.254 11.7341 108.563 11.2568C108.875 10.7762 109.031 10.2288 109.031 9.61061C109.031 8.87125 108.843 8.26602 108.466 7.79217ZM100.004 2.49819C99.9779 2.62959 99.9426 2.77052 99.9004 2.92166H99.6304C99.2503 2.38313 98.7723 2.1217 98.1936 1.80853C97.8883 1.64854 97.5925 1.52327 97.3028 1.44362C97.0138 1.36328 96.7112 1.32175 96.393 1.32175C95.6191 1.32175 94.9398 1.48787 94.3543 1.81806C93.7729 2.15098 93.2949 2.4376 92.9243 3.01084C92.5503 3.58068 92.281 4.21179 92.1083 4.90077C92.0206 5.26228 91.9526 5.61426 91.9104 5.95058C91.8649 6.28962 91.8418 6.65181 91.8418 7.0392C91.8418 8.12781 92.024 9.09796 92.3851 9.95306C92.7455 10.8048 93.2759 11.4645 93.9742 11.9322C94.6733 12.3965 95.5117 12.63 96.4902 12.63C97.0818 12.63 97.6965 12.4959 98.3364 12.227C98.9804 11.958 99.5264 11.6122 99.9752 11.186L100.232 11.2983L99.8059 12.9575C98.7138 13.5076 97.4266 13.7833 95.9476 13.7833C94.914 13.7833 93.945 13.6294 93.0413 13.3224C92.141 13.0181 91.361 12.5789 90.7041 12.0091C90.0472 11.4427 89.5338 10.751 89.1599 9.94081C88.7892 9.13405 88.6043 8.25308 88.6043 7.30199C88.6043 6.0881 88.8056 5.01923 89.2054 4.08993C89.6052 3.1613 90.1581 2.55742 90.87 1.95559C91.582 1.35375 92.4041 0.95071 93.3371 0.659323C94.27 0.364533 95.2846 0.216797 96.3766 0.216797C97.043 0.216797 97.7353 0.297132 98.4568 0.460527C99.1755 0.623921 99.8059 0.857439 100.346 1.16448L100.108 2.13804C100.043 2.46143 100.011 2.473 100.004 2.49819ZM85.7211 6.2229C85.6171 6.42102 85.3247 7.0106 84.8337 7.98688C84.4794 8.69152 84.1897 9.27429 83.9687 9.72908C83.1493 11.4066 82.5714 12.6654 82.2334 13.511L81.8526 13.4728L81.414 13.4374L80.9781 13.4728L80.5783 13.511C80.8061 13.1236 81.1148 12.5408 81.5017 11.7627L82.3497 10.0273C82.0933 9.4765 81.6996 8.74939 81.1665 7.84936C80.6334 6.95273 80.0873 6.06632 79.5284 5.18807L77.8059 2.45394C77.2402 1.53485 76.8172 1.04602 76.5377 0.562648L77.2041 0.620517L77.7862 0.655919L78.2901 0.674982L78.7776 0.665451L79.3692 0.620517L80.052 0.562648C80.1852 0.831568 80.5198 1.38234 81.0529 2.30756L82.6523 4.85243C82.912 5.29087 83.1466 5.69119 83.3547 6.04998C83.5594 6.40808 83.7056 6.67428 83.7967 6.84108C83.9558 6.60348 84.1768 6.21269 84.4631 5.66872C84.5767 5.44474 84.7521 5.08935 84.9867 4.59917C85.1064 4.34931 85.2301 4.09673 85.3566 3.84007L86.2998 1.95899L86.956 0.562648C87.2749 0.601455 87.5931 0.620517 87.9086 0.620517C88.1949 0.620517 88.507 0.601455 88.845 0.562648C88.3051 1.51374 87.5707 2.66499 86.6439 4.43918C86.2801 5.12748 85.9747 5.72319 85.7211 6.2229ZM75.972 6.14257C75.4783 6.75734 74.7854 7.18353 73.8851 7.41704C72.9882 7.65124 71.9151 7.7697 70.67 7.7697V13.511L69.9295 13.4728L69.2047 13.4374C69.0714 13.4374 68.9408 13.4374 68.8143 13.4374C68.6613 13.4565 68.5478 13.4694 68.473 13.4756L67.7386 13.511V0.562648H72.5394C73.8987 0.562648 74.9323 0.786635 75.6435 1.33128C76.3555 1.87525 76.7105 2.52066 76.7105 3.59362C76.7105 4.6761 76.4629 5.52439 75.972 6.14257ZM73.1697 2.27216C72.8256 1.80853 72.3932 1.57433 71.8798 1.57433H70.67V6.69062C70.9563 6.69062 71.197 6.68041 71.3888 6.65794C71.584 6.63616 71.7723 6.60348 71.958 6.55922C72.5462 6.40196 72.9848 6.0881 73.2676 5.61154C73.5505 5.13701 73.6899 4.58011 73.6899 3.94287C73.6899 3.18717 73.5179 2.73988 73.1697 2.27216ZM64.1108 13.4374L63.2751 13.4756L62.4557 13.511C62.2122 12.7491 62.0334 12.1882 61.913 11.8328C61.7016 11.2119 61.5492 10.77 61.4547 10.5011C61.3344 10.1614 61.2079 9.8346 61.0746 9.51462H56.5302L56.0487 10.8599L55.519 12.3488L55.158 13.4953L54.7194 13.466L54.2447 13.4374L53.7898 13.466L53.3118 13.4953L58.8932 0.393127C59.14 0.431252 59.3841 0.450996 59.6248 0.450996C59.8622 0.450996 60.109 0.431252 60.3688 0.393127L65.8169 13.511L64.9587 13.4728L64.1108 13.4374ZM58.8932 3.86866L57.0599 8.34227H60.6258L58.8932 3.86866ZM51.4527 13.3993L50.9651 13.3796L50.4803 13.3993C50.3667 13.3993 50.2729 13.402 50.2042 13.4089C50.1362 13.415 50.0287 13.4279 49.8887 13.447L49.2515 13.4953C49.0373 12.7743 48.7871 12.0159 48.511 11.2153C48.205 10.3377 47.9547 9.64261 47.7562 9.13064L46.8137 6.68381L45.7964 3.981C44.2005 7.78196 42.9908 10.9559 42.1653 13.4953C41.8633 13.4565 41.5573 13.4374 41.252 13.4374C40.9528 13.4374 40.6536 13.4565 40.3578 13.4953L41.8729 10.0048L43.2152 6.8792L44.5092 3.69914C44.7071 3.20964 44.922 2.82294 45.1559 2.20885C45.3932 1.59067 45.6047 1.06917 45.7964 0.543586L46.1378 0.582392C46.3228 0.607582 46.4792 0.620517 46.6158 0.620517H46.8042L47.0313 0.591923L47.2333 0.57218L47.4509 0.543586C47.6555 1.09436 47.8602 1.59408 48.0717 2.13804C48.3056 2.76235 48.4913 3.08096 48.6245 3.41728L49.9179 6.70968L51.1466 9.77129L52.6814 13.4953L52.0313 13.4374L51.4527 13.3993ZM31.7797 13.4374V0.562648H39.227C39.1651 1.0079 39.1325 1.23529 39.1325 1.34081C39.1325 1.44634 39.1651 1.72139 39.227 2.16664C37.8813 1.99099 36.373 1.90452 34.7016 1.90452V5.88658H36.7498C37.3284 5.88658 38.1281 5.82599 39.1522 5.70685C39.0869 6.08198 39.0543 6.3509 39.0543 6.51429C39.0543 6.67088 39.0869 6.95001 39.1522 7.35033C38.3749 7.24412 37.5753 7.18965 36.7498 7.18965H34.7016V12.0472C36.373 12.0472 37.8813 11.9615 39.227 11.7851C39.1651 12.2304 39.1325 12.5054 39.1325 12.6116L39.227 13.4374H31.7797ZM24.1698 13.4374H20.4101V0.562648H28.6748C28.6428 0.694045 28.6163 0.831568 28.5973 0.9759C28.5776 1.12023 28.568 1.20942 28.568 1.34081C28.568 1.58386 28.6034 1.85959 28.6721 2.16664C27.3454 1.99099 25.4475 1.90452 22.9764 1.90452V6.01798H25.0443C25.9446 6.01798 26.715 6.13644 27.3556 6.37336C27.9921 6.61369 28.4803 6.97179 28.8115 7.45857C29.1467 7.94263 29.3119 8.54447 29.3119 9.26204C29.3119 12.0445 27.599 13.4374 24.1698 13.4374ZM25.7263 7.79217C25.3462 7.31492 24.8981 7.078 24.3779 7.078H22.9764V12.3584C23.3246 12.3584 23.617 12.3488 23.8482 12.3298C24.0821 12.31 24.2834 12.278 24.4527 12.227C25.0572 12.0574 25.5155 11.7341 25.8242 11.2568C26.1364 10.7762 26.2928 10.2288 26.2928 9.61061C26.2928 8.87125 26.1037 8.26602 25.7263 7.79217ZM0 0.556521H13.6183V13.4878H0V0.556521ZM10.1551 12.1494H12.2297V12.1473C12.2297 8.51247 10.3849 5.92539 7.59285 3.94559H12.2658V1.92903H1.36407V3.94559H1.97335C6.64357 4.25877 10.1551 7.46947 10.1551 12.1473V12.1494ZM1.35931 10.0702C2.71387 10.158 3.41834 10.8197 3.51218 12.1528H5.43794C5.43794 12.1494 5.43862 12.146 5.43862 12.1425C5.43862 9.7318 3.82702 8.17411 1.37971 8.17411C1.37291 8.17411 1.36611 8.17479 1.35931 8.17479V10.0702ZM1.35455 6.97792C1.35931 6.97792 1.36339 6.97792 1.36815 6.97792C4.49614 6.97792 6.80133 9.0578 6.80337 12.1385H8.87804C8.876 7.93174 5.63853 4.93345 1.36815 4.93345C1.36339 4.93345 1.35931 4.93345 1.35455 4.93345V6.97792Z" fill="white" />
            </svg>
        </div>
        <div class="menu-items" id="menu-items">
            <div class="menu-items-top">
                <div class="sub-menu" id="sub-menu-groups">
                    <div class="sub-menu-search">
                        <input placeholder="Поиск по группам рассылки">
                        <div class="btn-short" onclick="ShowModal('modal-create-group')">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.33341 16.6666C2.87508 16.6666 2.48286 16.5036 2.15675 16.1775C1.83064 15.8514 1.6673 15.4589 1.66675 15V4.99998C1.66675 4.54165 1.83008 4.14942 2.15675 3.82331C2.48341 3.4972 2.87564 3.33387 3.33341 3.33331H7.64591C7.86814 3.33331 8.08008 3.37498 8.28175 3.45831C8.48341 3.54165 8.66036 3.6597 8.81258 3.81248L10.0001 4.99998H16.6667C17.1251 4.99998 17.5176 5.16331 17.8442 5.48998C18.1709 5.81665 18.334 6.20887 18.3334 6.66665V15C18.3334 15.4583 18.1704 15.8508 17.8442 16.1775C17.5181 16.5041 17.1256 16.6672 16.6667 16.6666H3.33341ZM11.6667 11.6666V12.5C11.6667 12.7361 11.7467 12.9341 11.9067 13.0941C12.0667 13.2541 12.2645 13.3339 12.5001 13.3333C12.7356 13.3328 12.9337 13.2528 13.0942 13.0933C13.2548 12.9339 13.3345 12.7361 13.3334 12.5V11.6666H14.1667C14.4029 11.6666 14.6009 11.5866 14.7609 11.4266C14.9209 11.2666 15.0006 11.0689 15.0001 10.8333C14.9995 10.5978 14.9195 10.4 14.7601 10.24C14.6006 10.08 14.4029 9.99998 14.1667 9.99998H13.3334V9.16665C13.3334 8.93054 13.2534 8.73276 13.0934 8.57331C12.9334 8.41387 12.7356 8.33387 12.5001 8.33331C12.2645 8.33276 12.0667 8.41276 11.9067 8.57331C11.7467 8.73387 11.6667 8.93165 11.6667 9.16665V9.99998H10.8334C10.5973 9.99998 10.3995 10.08 10.2401 10.24C10.0806 10.4 10.0006 10.5978 10.0001 10.8333C9.99953 11.0689 10.0795 11.2669 10.2401 11.4275C10.4006 11.588 10.5984 11.6678 10.8334 11.6666H11.6667Z" fill="var(--white)" />
                            </svg>
                        </div>
                    </div>
                    <div class="sub-menu-items">
                        <div class="sub-menu-item">
                            <span></span>
                            <span onclick="AllAddresses()">Все пользователи</span>
                            <span></span>
                        </div>
                    </div>
                    <div class="sub-menu-items" style="overflow: auto; max-height: 500px;">
                        @foreach (var item in await addresseeService.GetAllAddresseeGroups())
                        {
                            <div class="sub-menu-item">

                                <span style="margin-right: 10px;" onclick="Addresses(@item.Id)">@item.Id</span>
                                <span onclick="Addresses(@item.Id)">@item.Name</span>

                                <div class="btn-add" style="width: 60px;">
                                    <div class="btn-add">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M4.5 16.5501V19.0834C4.5 19.3167 4.68333 19.5001 4.91667 19.5001H7.45C7.55833 19.5001 7.66667 19.4584 7.74167 19.3751L16.8417 10.2834L13.7167 7.15842L4.625 16.2501C4.54167 16.3334 4.5 16.4334 4.5 16.5501ZM19.2583 7.86675C19.3356 7.78966 19.3969 7.69808 19.4387 7.59727C19.4805 7.49646 19.502 7.38839 19.502 7.27925C19.502 7.17011 19.4805 7.06204 19.4387 6.96123C19.3969 6.86042 19.3356 6.76885 19.2583 6.69175L17.3083 4.74175C17.2312 4.6645 17.1397 4.60321 17.0389 4.56139C16.938 4.51957 16.83 4.49805 16.7208 4.49805C16.6117 4.49805 16.5036 4.51957 16.4028 4.56139C16.302 4.60321 16.2104 4.6645 16.1333 4.74175L14.6083 6.26675L17.7333 9.39175L19.2583 7.86675Z" fill="#999999" />
                                        </svg>
                                    </div>
                                    <div class="btn-add">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.83332 19.5C7.37498 19.5 6.98276 19.3369 6.65665 19.0108C6.33054 18.6847 6.1672 18.2922 6.16665 17.8333V7C5.93054 7 5.73276 6.92 5.57332 6.76C5.41387 6.6 5.33387 6.40222 5.33332 6.16667C5.33276 5.93111 5.41276 5.73333 5.57332 5.57333C5.73387 5.41333 5.93165 5.33333 6.16665 5.33333H9.49998C9.49998 5.09722 9.57998 4.89944 9.73998 4.74C9.89998 4.58056 10.0978 4.50056 10.3333 4.5H13.6666C13.9028 4.5 14.1008 4.58 14.2608 4.74C14.4208 4.9 14.5005 5.09778 14.5 5.33333H17.8333C18.0694 5.33333 18.2675 5.41333 18.4275 5.57333C18.5875 5.73333 18.6672 5.93111 18.6666 6.16667C18.6661 6.40222 18.5861 6.60028 18.4266 6.76083C18.2672 6.92139 18.0694 7.00111 17.8333 7V17.8333C17.8333 18.2917 17.6703 18.6842 17.3441 19.0108C17.018 19.3375 16.6255 19.5006 16.1666 19.5H7.83332ZM10.3333 16.1667C10.5694 16.1667 10.7675 16.0867 10.9275 15.9267C11.0875 15.7667 11.1672 15.5689 11.1666 15.3333V9.5C11.1666 9.26389 11.0866 9.06611 10.9266 8.90667C10.7666 8.74722 10.5689 8.66722 10.3333 8.66667C10.0978 8.66611 9.89998 8.74611 9.73998 8.90667C9.57998 9.06722 9.49998 9.265 9.49998 9.5V15.3333C9.49998 15.5694 9.57998 15.7675 9.73998 15.9275C9.89998 16.0875 10.0978 16.1672 10.3333 16.1667ZM13.6666 16.1667C13.9028 16.1667 14.1008 16.0867 14.2608 15.9267C14.4208 15.7667 14.5005 15.5689 14.5 15.3333V9.5C14.5 9.26389 14.42 9.06611 14.26 8.90667C14.1 8.74722 13.9022 8.66722 13.6666 8.66667C13.4311 8.66611 13.2333 8.74611 13.0733 8.90667C12.9133 9.06722 12.8333 9.265 12.8333 9.5V15.3333C12.8333 15.5694 12.9133 15.7675 13.0733 15.9275C13.2333 16.0875 13.4311 16.1672 13.6666 16.1667Z" fill="var(--gray)" />
                                        </svg>
                                    </div>
                                    
                                </div>
                            </div>
                        }
                    </div>
                </div>
               
                <a class="menu-item" asp-controller="Task" asp-action="Tasks" asp-route-taskId="">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.8467 6.83333C10.6176 7.35911 10.4996 7.92651 10.5 8.5C10.5 8.94203 10.6756 9.36595 10.9882 9.67851C11.3007 9.99107 11.7246 10.1667 12.1667 10.1667H17.1667C17.6087 10.1667 18.0326 9.99107 18.3452 9.67851C18.6577 9.36595 18.8333 8.94203 18.8333 8.5C18.8333 7.9075 18.71 7.34333 18.4867 6.83333H19.6667C20.1087 6.83333 20.5326 7.00893 20.8452 7.32149C21.1577 7.63405 21.3333 8.05797 21.3333 8.5V21C21.3333 21.442 21.1577 21.8659 20.8452 22.1785C20.5326 22.4911 20.1087 22.6667 19.6667 22.6667H9.66667C9.22464 22.6667 8.80072 22.4911 8.48816 22.1785C8.17559 21.8659 8 21.442 8 21V8.5C8 8.05797 8.17559 7.63405 8.48816 7.32149C8.80072 7.00893 9.22464 6.83333 9.66667 6.83333H10.8467ZM14.6667 16H12.1667C11.9457 16 11.7337 16.0878 11.5774 16.2441C11.4211 16.4004 11.3333 16.6123 11.3333 16.8333C11.3333 17.0543 11.4211 17.2663 11.5774 17.4226C11.7337 17.5789 11.9457 17.6667 12.1667 17.6667H14.6667C14.8877 17.6667 15.0996 17.5789 15.2559 17.4226C15.4122 17.2663 15.5 17.0543 15.5 16.8333C15.5 16.6123 15.4122 16.4004 15.2559 16.2441C15.0996 16.0878 14.8877 16 14.6667 16ZM17.1667 12.6667H12.1667C11.9543 12.6669 11.75 12.7482 11.5955 12.894C11.4411 13.0398 11.3481 13.2391 11.3357 13.4512C11.3232 13.6632 11.3922 13.872 11.5286 14.0349C11.6649 14.1977 11.8583 14.3024 12.0692 14.3275L12.1667 14.3333H17.1667C17.3877 14.3333 17.5996 14.2455 17.7559 14.0893C17.9122 13.933 18 13.721 18 13.5C18 13.279 17.9122 13.067 17.7559 12.9107C17.5996 12.7545 17.3877 12.6667 17.1667 12.6667ZM14.6667 6C15.0184 6.00001 15.3662 6.07424 15.6873 6.21783C16.0083 6.36143 16.2955 6.57117 16.53 6.83333C16.8867 7.23167 17.1167 7.74417 17.1592 8.31L17.1667 8.5H12.1667C12.1667 7.89583 12.3808 7.34167 12.7375 6.91L12.8033 6.83333C13.2617 6.32167 13.9267 6 14.6667 6Z" fill="var(--white)" />
                    </svg>
                    <span>Задачи</span>
                </a>
                @* <a class="menu-item" asp-controller="AddresseeGroup" asp-action="Addressees">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6 9.8125C6 9.06658 6.29632 8.35121 6.82376 7.82376C7.35121 7.29632 8.06658 7 8.8125 7H11.29C11.5773 6.99998 11.8617 7.05654 12.1272 7.16646C12.3926 7.27638 12.6337 7.4375 12.8369 7.64063L14.125 8.92813L11.9531 11.1006C11.7774 11.2763 11.5391 11.3749 11.2906 11.375H6V9.8125ZM6 12.625V19.1875C6 19.9334 6.29632 20.6488 6.82376 21.1762C7.35121 21.7037 8.06658 22 8.8125 22H13.2569C13.2105 21.7949 13.1872 21.5853 13.1875 21.375V16.375C13.1875 15.6291 13.4838 14.9137 14.0113 14.3863C14.5387 13.8588 15.2541 13.5625 16 13.5625H22.25C22.6987 13.5625 23.1238 13.6675 23.5 13.855V12C23.5 11.2541 23.2037 10.5387 22.6762 10.0113C22.1488 9.48382 21.4334 9.1875 20.6875 9.1875H15.6337L12.8369 11.9844C12.6337 12.1875 12.3926 12.3486 12.1272 12.4585C11.8617 12.5685 11.5773 12.625 11.29 12.625H6ZM14.125 16.375C14.125 15.8777 14.3225 15.4008 14.6742 15.0492C15.0258 14.6975 15.5027 14.5 16 14.5H22.25C22.7473 14.5 23.2242 14.6975 23.5758 15.0492C23.9275 15.4008 24.125 15.8777 24.125 16.375V16.4987L19.125 19.2762L14.125 16.4987V16.375ZM19.3525 20.2225L24.125 17.5712V21.375C24.125 21.8723 23.9275 22.3492 23.5758 22.7008C23.2242 23.0525 22.7473 23.25 22.25 23.25H16C15.5027 23.25 15.0258 23.0525 14.6742 22.7008C14.3225 22.3492 14.125 21.8723 14.125 21.375V17.5706L18.8975 20.2225C18.9671 20.2611 19.0454 20.2814 19.125 20.2814C19.2046 20.2814 19.2829 20.2611 19.3525 20.2225Z" fill="var(--white)" />
                    </svg>
                    <span>Группы рассылки</span>
                </a> *@
                <div class="menu-item groups" onclick="ShowHideSubMenu('sub-menu-groups')">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6 9.8125C6 9.06658 6.29632 8.35121 6.82376 7.82376C7.35121 7.29632 8.06658 7 8.8125 7H11.29C11.5773 6.99998 11.8617 7.05654 12.1272 7.16646C12.3926 7.27638 12.6337 7.4375 12.8369 7.64063L14.125 8.92813L11.9531 11.1006C11.7774 11.2763 11.5391 11.3749 11.2906 11.375H6V9.8125ZM6 12.625V19.1875C6 19.9334 6.29632 20.6488 6.82376 21.1762C7.35121 21.7037 8.06658 22 8.8125 22H13.2569C13.2105 21.7949 13.1872 21.5853 13.1875 21.375V16.375C13.1875 15.6291 13.4838 14.9137 14.0113 14.3863C14.5387 13.8588 15.2541 13.5625 16 13.5625H22.25C22.6987 13.5625 23.1238 13.6675 23.5 13.855V12C23.5 11.2541 23.2037 10.5387 22.6762 10.0113C22.1488 9.48382 21.4334 9.1875 20.6875 9.1875H15.6337L12.8369 11.9844C12.6337 12.1875 12.3926 12.3486 12.1272 12.4585C11.8617 12.5685 11.5773 12.625 11.29 12.625H6ZM14.125 16.375C14.125 15.8777 14.3225 15.4008 14.6742 15.0492C15.0258 14.6975 15.5027 14.5 16 14.5H22.25C22.7473 14.5 23.2242 14.6975 23.5758 15.0492C23.9275 15.4008 24.125 15.8777 24.125 16.375V16.4987L19.125 19.2762L14.125 16.4987V16.375ZM19.3525 20.2225L24.125 17.5712V21.375C24.125 21.8723 23.9275 22.3492 23.5758 22.7008C23.2242 23.0525 22.7473 23.25 22.25 23.25H16C15.5027 23.25 15.0258 23.0525 14.6742 22.7008C14.3225 22.3492 14.125 21.8723 14.125 21.375V17.5706L18.8975 20.2225C18.9671 20.2611 19.0454 20.2814 19.125 20.2814C19.2046 20.2814 19.2829 20.2611 19.3525 20.2225Z" fill="var(--white)" />
                    </svg>
                    <span>Группы рассылки</span>
                </div>
                <div class="menu-item" onclick="UserLogs()">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.125 7C17.1801 7.00009 17.2335 7.02156 17.2725 7.06055C17.3115 7.09954 17.3329 7.15287 17.333 7.20801V11.9141C17.333 12.0798 17.3984 12.2392 17.5156 12.3564C17.6328 12.4737 17.7922 12.5391 17.958 12.5391H21.708C21.7633 12.5391 21.8164 12.5615 21.8555 12.6006C21.8943 12.6395 21.9159 12.6921 21.916 12.7471V20.958C21.916 21.5658 21.6749 22.1493 21.2451 22.5791C20.8154 23.0087 20.2326 23.2499 19.625 23.25H11.291C10.6834 23.2499 10.1006 23.0087 9.6709 22.5791C9.24113 22.1493 9 21.5658 9 20.958V9.29199C9 8.6842 9.24113 8.10067 9.6709 7.6709C10.1006 7.24131 10.6834 7.00008 11.291 7H17.125ZM14.625 18.042C13.962 18.042 13.3253 18.3046 12.8564 18.7734C12.3876 19.2423 12.125 19.879 12.125 20.542C12.1251 20.7629 12.2129 20.9747 12.3691 21.1309C12.5254 21.287 12.7371 21.375 12.958 21.375H17.958C18.1789 21.375 18.3906 21.287 18.5469 21.1309C18.7031 20.9747 18.7909 20.7629 18.791 20.542C18.791 19.879 18.5284 19.2423 18.0596 18.7734C17.5907 18.3046 16.9541 18.042 16.291 18.042H14.625ZM15.458 13.458C15.016 13.458 14.5919 13.6337 14.2793 13.9463C13.9667 14.2588 13.791 14.683 13.791 15.125C13.791 15.567 13.9667 15.9911 14.2793 16.3037C14.5919 16.6163 15.016 16.792 15.458 16.792C15.9 16.792 16.3242 16.6163 16.6367 16.3037C16.9493 15.9912 17.125 15.567 17.125 15.125C17.125 14.683 16.9493 14.2588 16.6367 13.9463C16.3242 13.6337 15.9 13.458 15.458 13.458ZM18.583 7.47852C18.583 7.32518 18.7441 7.22741 18.8633 7.32324C18.9643 7.40486 19.0536 7.50016 19.1318 7.6084L21.6426 11.1055C21.6992 11.1854 21.6382 11.2888 21.54 11.2891H18.791C18.7359 11.289 18.6825 11.2675 18.6436 11.2285C18.6046 11.1895 18.5831 11.1362 18.583 11.0811V7.47852Z" fill="var(--white)" />
                    </svg>
                    <span>Логи пользователей</span>
                </div>
                <a class="menu-item" asp-controller="Task" asp-action="TaskLog" asp-route-taskId="">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.125 7C17.1801 7.00009 17.2335 7.02156 17.2725 7.06055C17.3115 7.09954 17.3329 7.15287 17.333 7.20801V11.9141C17.333 12.0798 17.3984 12.2392 17.5156 12.3564C17.6328 12.4737 17.7922 12.5391 17.958 12.5391H21.708C21.7633 12.5391 21.8164 12.5615 21.8555 12.6006C21.8943 12.6395 21.9159 12.6921 21.916 12.7471V20.958C21.916 21.5658 21.6749 22.1493 21.2451 22.5791C20.8154 23.0087 20.2326 23.2499 19.625 23.25H11.291C10.6834 23.2499 10.1006 23.0087 9.6709 22.5791C9.24113 22.1493 9 21.5658 9 20.958V9.29199C9 8.6842 9.24113 8.10067 9.6709 7.6709C10.1006 7.24131 10.6834 7.00008 11.291 7H17.125ZM14.625 18.042C13.962 18.042 13.3253 18.3046 12.8564 18.7734C12.3876 19.2423 12.125 19.879 12.125 20.542C12.1251 20.7629 12.2129 20.9747 12.3691 21.1309C12.5254 21.287 12.7371 21.375 12.958 21.375H17.958C18.1789 21.375 18.3906 21.287 18.5469 21.1309C18.7031 20.9747 18.7909 20.7629 18.791 20.542C18.791 19.879 18.5284 19.2423 18.0596 18.7734C17.5907 18.3046 16.9541 18.042 16.291 18.042H14.625ZM15.458 13.458C15.016 13.458 14.5919 13.6337 14.2793 13.9463C13.9667 14.2588 13.791 14.683 13.791 15.125C13.791 15.567 13.9667 15.9911 14.2793 16.3037C14.5919 16.6163 15.016 16.792 15.458 16.792C15.9 16.792 16.3242 16.6163 16.6367 16.3037C16.9493 15.9912 17.125 15.567 17.125 15.125C17.125 14.683 16.9493 14.2588 16.6367 13.9463C16.3242 13.6337 15.9 13.458 15.458 13.458ZM18.583 7.47852C18.583 7.32518 18.7441 7.22741 18.8633 7.32324C18.9643 7.40486 19.0536 7.50016 19.1318 7.6084L21.6426 11.1055C21.6992 11.1854 21.6382 11.2888 21.54 11.2891H18.791C18.7359 11.289 18.6825 11.2675 18.6436 11.2285C18.6046 11.1895 18.5831 11.1362 18.583 11.0811V7.47852Z" fill="var(--white)" />
                    </svg>
                    <span>Журнал задач</span>
                </a>
                <a class="menu-item" asp-controller="Task" asp-action="LockedTasks">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.8467 6.83333C10.6176 7.35911 10.4996 7.92651 10.5 8.5C10.5 8.94203 10.6756 9.36595 10.9882 9.67851C11.3007 9.99107 11.7246 10.1667 12.1667 10.1667H17.1667C17.6087 10.1667 18.0326 9.99107 18.3452 9.67851C18.6577 9.36595 18.8333 8.94203 18.8333 8.5C18.8333 7.9075 18.71 7.34333 18.4867 6.83333H19.6667C20.1087 6.83333 20.5326 7.00893 20.8452 7.32149C21.1577 7.63405 21.3333 8.05797 21.3333 8.5V21C21.3333 21.442 21.1577 21.8659 20.8452 22.1785C20.5326 22.4911 20.1087 22.6667 19.6667 22.6667H9.66667C9.22464 22.6667 8.80072 22.4911 8.48816 22.1785C8.17559 21.8659 8 21.442 8 21V8.5C8 8.05797 8.17559 7.63405 8.48816 7.32149C8.80072 7.00893 9.22464 6.83333 9.66667 6.83333H10.8467ZM14.6667 16H12.1667C11.9457 16 11.7337 16.0878 11.5774 16.2441C11.4211 16.4004 11.3333 16.6123 11.3333 16.8333C11.3333 17.0543 11.4211 17.2663 11.5774 17.4226C11.7337 17.5789 11.9457 17.6667 12.1667 17.6667H14.6667C14.8877 17.6667 15.0996 17.5789 15.2559 17.4226C15.4122 17.2663 15.5 17.0543 15.5 16.8333C15.5 16.6123 15.4122 16.4004 15.2559 16.2441C15.0996 16.0878 14.8877 16 14.6667 16ZM17.1667 12.6667H12.1667C11.9543 12.6669 11.75 12.7482 11.5955 12.894C11.4411 13.0398 11.3481 13.2391 11.3357 13.4512C11.3232 13.6632 11.3922 13.872 11.5286 14.0349C11.6649 14.1977 11.8583 14.3024 12.0692 14.3275L12.1667 14.3333H17.1667C17.3877 14.3333 17.5996 14.2455 17.7559 14.0893C17.9122 13.933 18 13.721 18 13.5C18 13.279 17.9122 13.067 17.7559 12.9107C17.5996 12.7545 17.3877 12.6667 17.1667 12.6667ZM14.6667 6C15.0184 6.00001 15.3662 6.07424 15.6873 6.21783C16.0083 6.36143 16.2955 6.57117 16.53 6.83333C16.8867 7.23167 17.1167 7.74417 17.1592 8.31L17.1667 8.5H12.1667C12.1667 7.89583 12.3808 7.34167 12.7375 6.91L12.8033 6.83333C13.2617 6.32167 13.9267 6 14.6667 6Z" fill="var(--white)" />
                    </svg>
                    <span>Блокированные задачи</span>
                </a>
            </div>
            <div class="menu-item logs" onclick="Logout()">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.5892 7.33997C12 7.86247 12 8.8183 12 10.7291V19.9358C12 21.8466 12 22.8025 12.5892 23.325C13.1783 23.8475 14.0792 23.6908 15.8808 23.3766L17.8225 23.0383C19.8175 22.69 20.815 22.5158 21.4075 21.7841C22 21.0516 22 19.9933 22 17.8758V12.7891C22 10.6725 22 9.61414 21.4083 8.88164C20.815 8.14997 19.8167 7.9758 17.8217 7.6283L15.8817 7.28914C14.08 6.97497 13.1792 6.8183 12.59 7.3408M14.5 13.8066C14.845 13.8066 15.125 14.0991 15.125 14.46V16.205C15.125 16.5658 14.845 16.8583 14.5 16.8583C14.155 16.8583 13.875 16.5658 13.875 16.205V14.46C13.875 14.0991 14.155 13.8066 14.5 13.8066Z" fill="var(--white)" />
                    <path d="M10.7892 9.08252C9.07417 9.08502 8.18 9.12252 7.61 9.69252C7 10.3025 7 11.2842 7 13.2492V17.4159C7 19.38 7 20.3617 7.61 20.9725C8.18 21.5417 9.07417 21.58 10.7892 21.5825C10.75 21.0625 10.75 20.4625 10.75 19.8134V10.8517C10.75 10.2017 10.75 9.60169 10.7892 9.08252Z" fill="var(--white)" />
                </svg>
                <span>Выход</span>
            </div>
        </div>
    </div>
    <div class="main-part">

        <header>
            <svg id="header-logo" style="visibility: hidden;" width="153" height="14" viewBox="0 0 153 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M153 13.511L152.161 13.4728L151.346 13.4374L150.506 13.4756L149.687 13.511L145.458 7.42317V13.511L144.717 13.4728L143.992 13.4374L143.267 13.4756L142.526 13.511V0.562648L143.163 0.630049L143.992 0.674982L144.402 0.665451L144.896 0.620517L145.458 0.562648V6.36315C145.972 5.78106 146.541 5.12748 147.162 4.40378C147.685 3.79513 148.244 3.1293 148.849 2.4056C149.369 1.77789 149.928 1.30541 150.526 0.562648L150.916 0.620517L151.267 0.665451L151.583 0.674982C151.644 0.674982 151.726 0.671578 151.82 0.665451C151.914 0.659323 152.031 0.646388 152.171 0.630049L152.61 0.562648V0.713107C152.171 1.12636 151.719 1.51987 151.254 1.99099C150.786 2.46483 150.309 2.79639 149.821 3.31516C148.823 4.38472 148.072 5.22075 147.561 5.82871L153 13.2577V13.511ZM137.689 13.4374L136.975 13.4756L136.243 13.511V7.09366C135.723 7.09366 135.228 7.08753 134.76 7.07119C134.295 7.05553 133.795 7.03919 133.262 7.02013C133.083 7.02013 132.663 7.03307 132.004 7.05553C131.341 7.08072 130.765 7.09366 130.278 7.09366V13.511L129.537 13.4728L128.812 13.4374C128.711 13.4374 128.61 13.4374 128.506 13.4374C128.33 13.4565 128.188 13.4694 128.08 13.4756L127.346 13.511V0.562648L127.918 0.620517L128.402 0.665451L128.812 0.674982L129.221 0.665451L129.716 0.620517L130.278 0.562648V5.55639C130.817 5.55639 131.331 5.56592 131.815 5.58907C132.303 5.61154 132.784 5.6306 133.262 5.64966C133.685 5.62379 134.185 5.60473 134.76 5.58567C135.336 5.56592 135.83 5.55639 136.243 5.55639V0.562648L136.805 0.620517L137.28 0.665451L137.689 0.674982L138.118 0.655919L138.613 0.620517L139.165 0.562648V13.511L138.44 13.4728L137.689 13.4374ZM123.718 13.4374L122.882 13.4756L122.064 13.511C121.819 12.7491 121.641 12.1882 121.52 11.8328C121.309 11.2119 121.156 10.77 121.062 10.5011C120.942 10.1614 120.815 9.8346 120.682 9.51462H116.137L115.656 10.8599L115.126 12.3488L114.766 13.4953L114.327 13.466L113.852 13.4374L113.397 13.466L112.919 13.4953L118.5 0.393127C118.748 0.431252 118.991 0.450996 119.232 0.450996C119.469 0.450996 119.716 0.431252 119.977 0.393127L125.424 13.511L124.567 13.4728L123.718 13.4374ZM118.5 3.86866L116.667 8.34227H120.233L118.5 3.86866ZM106.908 13.4374H102.784V0.562648H111.414C111.381 0.694045 111.356 0.831568 111.336 0.9759C111.317 1.12023 111.307 1.20942 111.307 1.34081C111.307 1.58386 111.343 1.85959 111.411 2.16664C110.085 1.99099 108.186 1.90452 105.716 1.90452V6.01798H107.783C108.683 6.01798 109.454 6.13644 110.094 6.37336C110.731 6.61369 111.219 6.97179 111.551 7.45857C111.885 7.94263 112.051 8.54447 112.051 9.26204C112.051 12.0445 110.338 13.4374 106.908 13.4374ZM108.466 7.79217C108.086 7.31492 107.637 7.078 107.117 7.078H105.716V12.3584C106.063 12.3584 106.356 12.3488 106.587 12.3298C106.821 12.31 107.023 12.278 107.191 12.227C107.796 12.0574 108.254 11.7341 108.563 11.2568C108.875 10.7762 109.031 10.2288 109.031 9.61061C109.031 8.87125 108.843 8.26602 108.466 7.79217ZM100.004 2.49819C99.9779 2.62959 99.9426 2.77052 99.9004 2.92166H99.6304C99.2503 2.38313 98.7723 2.1217 98.1936 1.80853C97.8883 1.64854 97.5925 1.52327 97.3028 1.44362C97.0138 1.36328 96.7112 1.32175 96.393 1.32175C95.6191 1.32175 94.9398 1.48787 94.3543 1.81806C93.7729 2.15098 93.2949 2.4376 92.9243 3.01084C92.5503 3.58068 92.281 4.21179 92.1083 4.90077C92.0206 5.26228 91.9526 5.61426 91.9104 5.95058C91.8649 6.28962 91.8418 6.65181 91.8418 7.0392C91.8418 8.12781 92.024 9.09796 92.3851 9.95306C92.7455 10.8048 93.2759 11.4645 93.9742 11.9322C94.6733 12.3965 95.5117 12.63 96.4902 12.63C97.0818 12.63 97.6965 12.4959 98.3364 12.227C98.9804 11.958 99.5264 11.6122 99.9752 11.186L100.232 11.2983L99.8059 12.9575C98.7138 13.5076 97.4266 13.7833 95.9476 13.7833C94.914 13.7833 93.945 13.6294 93.0413 13.3224C92.141 13.0181 91.361 12.5789 90.7041 12.0091C90.0472 11.4427 89.5338 10.751 89.1599 9.94081C88.7892 9.13405 88.6043 8.25308 88.6043 7.30199C88.6043 6.0881 88.8056 5.01923 89.2054 4.08993C89.6052 3.1613 90.1581 2.55742 90.87 1.95559C91.582 1.35375 92.4041 0.95071 93.3371 0.659323C94.27 0.364533 95.2846 0.216797 96.3766 0.216797C97.043 0.216797 97.7353 0.297132 98.4568 0.460527C99.1755 0.623921 99.8059 0.857439 100.346 1.16448L100.108 2.13804C100.043 2.46143 100.011 2.473 100.004 2.49819ZM85.7211 6.2229C85.6171 6.42102 85.3247 7.0106 84.8337 7.98688C84.4794 8.69152 84.1897 9.27429 83.9687 9.72908C83.1493 11.4066 82.5714 12.6654 82.2334 13.511L81.8526 13.4728L81.414 13.4374L80.9781 13.4728L80.5783 13.511C80.8061 13.1236 81.1148 12.5408 81.5017 11.7627L82.3497 10.0273C82.0933 9.4765 81.6996 8.74939 81.1665 7.84936C80.6334 6.95273 80.0873 6.06632 79.5284 5.18807L77.8059 2.45394C77.2402 1.53485 76.8172 1.04602 76.5377 0.562648L77.2041 0.620517L77.7862 0.655919L78.2901 0.674982L78.7776 0.665451L79.3692 0.620517L80.052 0.562648C80.1852 0.831568 80.5198 1.38234 81.0529 2.30756L82.6523 4.85243C82.912 5.29087 83.1466 5.69119 83.3547 6.04998C83.5594 6.40808 83.7056 6.67428 83.7967 6.84108C83.9558 6.60348 84.1768 6.21269 84.4631 5.66872C84.5767 5.44474 84.7521 5.08935 84.9867 4.59917C85.1064 4.34931 85.2301 4.09673 85.3566 3.84007L86.2998 1.95899L86.956 0.562648C87.2749 0.601455 87.5931 0.620517 87.9086 0.620517C88.1949 0.620517 88.507 0.601455 88.845 0.562648C88.3051 1.51374 87.5707 2.66499 86.6439 4.43918C86.2801 5.12748 85.9747 5.72319 85.7211 6.2229ZM75.972 6.14257C75.4783 6.75734 74.7854 7.18353 73.8851 7.41704C72.9882 7.65124 71.9151 7.7697 70.67 7.7697V13.511L69.9295 13.4728L69.2047 13.4374C69.0714 13.4374 68.9408 13.4374 68.8143 13.4374C68.6613 13.4565 68.5478 13.4694 68.473 13.4756L67.7386 13.511V0.562648H72.5394C73.8987 0.562648 74.9323 0.786635 75.6435 1.33128C76.3555 1.87525 76.7105 2.52066 76.7105 3.59362C76.7105 4.6761 76.4629 5.52439 75.972 6.14257ZM73.1697 2.27216C72.8256 1.80853 72.3932 1.57433 71.8798 1.57433H70.67V6.69062C70.9563 6.69062 71.197 6.68041 71.3888 6.65794C71.584 6.63616 71.7723 6.60348 71.958 6.55922C72.5462 6.40196 72.9848 6.0881 73.2676 5.61154C73.5505 5.13701 73.6899 4.58011 73.6899 3.94287C73.6899 3.18717 73.5179 2.73988 73.1697 2.27216ZM64.1108 13.4374L63.2751 13.4756L62.4557 13.511C62.2122 12.7491 62.0334 12.1882 61.913 11.8328C61.7016 11.2119 61.5492 10.77 61.4547 10.5011C61.3344 10.1614 61.2079 9.8346 61.0746 9.51462H56.5302L56.0487 10.8599L55.519 12.3488L55.158 13.4953L54.7194 13.466L54.2447 13.4374L53.7898 13.466L53.3118 13.4953L58.8932 0.393127C59.14 0.431252 59.3841 0.450996 59.6248 0.450996C59.8622 0.450996 60.109 0.431252 60.3688 0.393127L65.8169 13.511L64.9587 13.4728L64.1108 13.4374ZM58.8932 3.86866L57.0599 8.34227H60.6258L58.8932 3.86866ZM51.4527 13.3993L50.9651 13.3796L50.4803 13.3993C50.3667 13.3993 50.2729 13.402 50.2042 13.4089C50.1362 13.415 50.0287 13.4279 49.8887 13.447L49.2515 13.4953C49.0373 12.7743 48.7871 12.0159 48.511 11.2153C48.205 10.3377 47.9547 9.64261 47.7562 9.13064L46.8137 6.68381L45.7964 3.981C44.2005 7.78196 42.9908 10.9559 42.1653 13.4953C41.8633 13.4565 41.5573 13.4374 41.252 13.4374C40.9528 13.4374 40.6536 13.4565 40.3578 13.4953L41.8729 10.0048L43.2152 6.8792L44.5092 3.69914C44.7071 3.20964 44.922 2.82294 45.1559 2.20885C45.3932 1.59067 45.6047 1.06917 45.7964 0.543586L46.1378 0.582392C46.3228 0.607582 46.4792 0.620517 46.6158 0.620517H46.8042L47.0313 0.591923L47.2333 0.57218L47.4509 0.543586C47.6555 1.09436 47.8602 1.59408 48.0717 2.13804C48.3056 2.76235 48.4913 3.08096 48.6245 3.41728L49.9179 6.70968L51.1466 9.77129L52.6814 13.4953L52.0313 13.4374L51.4527 13.3993ZM31.7797 13.4374V0.562648H39.227C39.1651 1.0079 39.1325 1.23529 39.1325 1.34081C39.1325 1.44634 39.1651 1.72139 39.227 2.16664C37.8813 1.99099 36.373 1.90452 34.7016 1.90452V5.88658H36.7498C37.3284 5.88658 38.1281 5.82599 39.1522 5.70685C39.0869 6.08198 39.0543 6.3509 39.0543 6.51429C39.0543 6.67088 39.0869 6.95001 39.1522 7.35033C38.3749 7.24412 37.5753 7.18965 36.7498 7.18965H34.7016V12.0472C36.373 12.0472 37.8813 11.9615 39.227 11.7851C39.1651 12.2304 39.1325 12.5054 39.1325 12.6116L39.227 13.4374H31.7797ZM24.1698 13.4374H20.4101V0.562648H28.6748C28.6428 0.694045 28.6163 0.831568 28.5973 0.9759C28.5776 1.12023 28.568 1.20942 28.568 1.34081C28.568 1.58386 28.6034 1.85959 28.6721 2.16664C27.3454 1.99099 25.4475 1.90452 22.9764 1.90452V6.01798H25.0443C25.9446 6.01798 26.715 6.13644 27.3556 6.37336C27.9921 6.61369 28.4803 6.97179 28.8115 7.45857C29.1467 7.94263 29.3119 8.54447 29.3119 9.26204C29.3119 12.0445 27.599 13.4374 24.1698 13.4374ZM25.7263 7.79217C25.3462 7.31492 24.8981 7.078 24.3779 7.078H22.9764V12.3584C23.3246 12.3584 23.617 12.3488 23.8482 12.3298C24.0821 12.31 24.2834 12.278 24.4527 12.227C25.0572 12.0574 25.5155 11.7341 25.8242 11.2568C26.1364 10.7762 26.2928 10.2288 26.2928 9.61061C26.2928 8.87125 26.1037 8.26602 25.7263 7.79217ZM0 0.556521H13.6183V13.4878H0V0.556521ZM10.1551 12.1494H12.2297V12.1473C12.2297 8.51247 10.3849 5.92539 7.59285 3.94559H12.2658V1.92903H1.36407V3.94559H1.97335C6.64357 4.25877 10.1551 7.46947 10.1551 12.1473V12.1494ZM1.35931 10.0702C2.71387 10.158 3.41834 10.8197 3.51218 12.1528H5.43794C5.43794 12.1494 5.43862 12.146 5.43862 12.1425C5.43862 9.7318 3.82702 8.17411 1.37971 8.17411C1.37291 8.17411 1.36611 8.17479 1.35931 8.17479V10.0702ZM1.35455 6.97792C1.35931 6.97792 1.36339 6.97792 1.36815 6.97792C4.49614 6.97792 6.80133 9.0578 6.80337 12.1385H8.87804C8.876 7.93174 5.63853 4.93345 1.36815 4.93345C1.36339 4.93345 1.35931 4.93345 1.35455 4.93345V6.97792Z" fill="white" />
            </svg>
            <div class="user-info">
                @{
                    var fio = User.FindFirst(ClaimTypes.GivenName)?.Value ?? "";
                    var words = fio.Split(' ');
                    var char1 = words[1][0];
                    var char2 = words[2][0];
                    var valueImg = "" + char1 + char2;
                }
                <div class="user-img">@valueImg</div>
                <div class="user-name">
                    <span>@fio</span>
                    <span>@User.Identity.Name</span>
                </div>
            </div>
        </header>

        @RenderBody()

        <div class="modal-wrapper" id="modal-create-group">
            <div class="modal">
                <div class="modal-header">
                    <p>Новая группа рассылки</p>
                    <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg" onclick="CloseModal('modal-create-group'), ClearNewAddrGroup()">
                        <path d="M5.19281 4.69635L8 7.50342L10.7926 4.71089C10.8543 4.64524 10.9286 4.59272 11.0111 4.55648C11.0936 4.52024 11.1825 4.50103 11.2726 4.5C11.4655 4.5 11.6505 4.57662 11.7869 4.713C11.9233 4.84938 11.9999 5.03435 11.9999 5.22722C12.0016 5.31638 11.985 5.40494 11.9513 5.48748C11.9175 5.57001 11.8672 5.64478 11.8035 5.70719L8.97452 8.49971L11.8035 11.3286C11.9234 11.4459 11.9937 11.6046 11.9999 11.7722C11.9999 11.9651 11.9233 12.15 11.7869 12.2864C11.6505 12.4228 11.4655 12.4994 11.2726 12.4994C11.1799 12.5033 11.0875 12.4878 11.0011 12.454C10.9147 12.4202 10.8363 12.3688 10.7708 12.3031L8 9.496L5.20008 12.2958C5.13863 12.3593 5.06522 12.4099 4.98409 12.4449C4.90296 12.4798 4.8157 12.4984 4.72737 12.4994C4.53449 12.4994 4.34951 12.4228 4.21313 12.2864C4.07674 12.15 4.00012 11.9651 4.00012 11.7722C3.99842 11.683 4.01497 11.5945 4.04873 11.5119C4.0825 11.4294 4.13277 11.3546 4.19648 11.2922L7.02548 8.49971L4.19648 5.67082C4.07661 5.55357 4.00633 5.39478 4.00012 5.22722C4.00012 5.03435 4.07674 4.84938 4.21313 4.713C4.34951 4.57662 4.53449 4.5 4.72737 4.5C4.90191 4.50218 5.06918 4.57272 5.19281 4.69635Z" fill="white" />
                    </svg>
                </div>
                <div class="modal-body">
                    <div class="modal-body-content">
                        <div class="input-with-label">
                            <label>Номер группы</label>
                            <input type="number" id="numberNewAddrGroup">
                        </div>
                        <div class="input-with-label">
                            <label>Название группы</label>
                            <input id="nameNewAddrGroup">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="btn-full" onclick="CreateAddresseeGroup(), CloseModal('modal-create-group')">
                        Сохранить
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-wrapper" id="modal-delete-group">
            <div class="modal">
                <div class="modal-header">
                    <p>Удалить группу Название группы?</p>
                    <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg" onclick="CloseModal('modal-delete-group')">
                        <path d="M5.19281 4.69635L8 7.50342L10.7926 4.71089C10.8543 4.64524 10.9286 4.59272 11.0111 4.55648C11.0936 4.52024 11.1825 4.50103 11.2726 4.5C11.4655 4.5 11.6505 4.57662 11.7869 4.713C11.9233 4.84938 11.9999 5.03435 11.9999 5.22722C12.0016 5.31638 11.985 5.40494 11.9513 5.48748C11.9175 5.57001 11.8672 5.64478 11.8035 5.70719L8.97452 8.49971L11.8035 11.3286C11.9234 11.4459 11.9937 11.6046 11.9999 11.7722C11.9999 11.9651 11.9233 12.15 11.7869 12.2864C11.6505 12.4228 11.4655 12.4994 11.2726 12.4994C11.1799 12.5033 11.0875 12.4878 11.0011 12.454C10.9147 12.4202 10.8363 12.3688 10.7708 12.3031L8 9.496L5.20008 12.2958C5.13863 12.3593 5.06522 12.4099 4.98409 12.4449C4.90296 12.4798 4.8157 12.4984 4.72737 12.4994C4.53449 12.4994 4.34951 12.4228 4.21313 12.2864C4.07674 12.15 4.00012 11.9651 4.00012 11.7722C3.99842 11.683 4.01497 11.5945 4.04873 11.5119C4.0825 11.4294 4.13277 11.3546 4.19648 11.2922L7.02548 8.49971L4.19648 5.67082C4.07661 5.55357 4.00633 5.39478 4.00012 5.22722C4.00012 5.03435 4.07674 4.84938 4.21313 4.713C4.34951 4.57662 4.53449 4.5 4.72737 4.5C4.90191 4.50218 5.06918 4.57272 5.19281 4.69635Z" fill="white" />
                    </svg>
                </div>
                <div class="modal-body">
                    <div class="modal-body-content">
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="btn-full">
                        Ок
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-wrapper" id="modal-locked-task">
        <div class="modal">
            <div class="modal-header">
                <p></p>
                <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg" onclick="CloseModal('modal-locked-task')">
                    <path d="M5.19281 4.69635L8 7.50342L10.7926 4.71089C10.8543 4.64524 10.9286 4.59272 11.0111 4.55648C11.0936 4.52024 11.1825 4.50103 11.2726 4.5C11.4655 4.5 11.6505 4.57662 11.7869 4.713C11.9233 4.84938 11.9999 5.03435 11.9999 5.22722C12.0016 5.31638 11.985 5.40494 11.9513 5.48748C11.9175 5.57001 11.8672 5.64478 11.8035 5.70719L8.97452 8.49971L11.8035 11.3286C11.9234 11.4459 11.9937 11.6046 11.9999 11.7722C11.9999 11.9651 11.9233 12.15 11.7869 12.2864C11.6505 12.4228 11.4655 12.4994 11.2726 12.4994C11.1799 12.5033 11.0875 12.4878 11.0011 12.454C10.9147 12.4202 10.8363 12.3688 10.7708 12.3031L8 9.496L5.20008 12.2958C5.13863 12.3593 5.06522 12.4099 4.98409 12.4449C4.90296 12.4798 4.8157 12.4984 4.72737 12.4994C4.53449 12.4994 4.34951 12.4228 4.21313 12.2864C4.07674 12.15 4.00012 11.9651 4.00012 11.7722C3.99842 11.683 4.01497 11.5945 4.04873 11.5119C4.0825 11.4294 4.13277 11.3546 4.19648 11.2922L7.02548 8.49971L4.19648 5.67082C4.07661 5.55357 4.00633 5.39478 4.00012 5.22722C4.00012 5.03435 4.07674 4.84938 4.21313 4.713C4.34951 4.57662 4.53449 4.5 4.72737 4.5C4.90191 4.50218 5.06918 4.57272 5.19281 4.69635Z" fill="white" />
                </svg>
            </div>
            <div class="modal-body">
                Задача блокирована пользователем <span id="userId-locked-task"></span>
            </div>
            <div class="modal-footer">
                <div class="btn-full" onclick="CloseModal('modal-locked-task')">
                    Ok
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>




</html>


<script>
    GetTaskGroupList()
    GetAddresseGroupList()

    function GetTaskGroupList(){

    }
    function GetAddresseGroupList(){

    }

    function CreateGroup() {
        var newGroup = document.getElementById("nameNewGroup").value;
        ClearNewGroup();
        if (newGroup != "" & newGroup[0] != " ") {
            $.ajax({
                method: 'POST',
                url: '@Url.Action("CreateTaskGroup", "Task")',
                data: { "nameGroup": newGroup },
                dataType: 'html',
                success: function (result) {
                    window.location.href = '@Url.Action("Tasks", "Task")'
                }
            });
        }
        clearNewGroup();
    }
    var idDeleteGroup;
    function DeleteTaskGroup() {
        var nameGroup = document.getElementById("nameDeleteGroup").innerText;
        $.ajax({
            method: 'POST',
            url: '@Url.Action("DeleteTaskGroup", "Task")',
            data: { "idDeleteGroup": idDeleteGroup },
            dataType: 'html',
            success: function (result) {
                window.location.href = '@Url.Action("Tasks", "Task")'
            }
        });
    }

    function ClearNewGroup() {
        document.getElementById("nameNewGroup").value = '';
    }

    function ModalDelete(id, name) {
        document.getElementById("nameDeleteGroup").innerText = name;
        idDeleteGroup = id;
    }

    function Addresses(groupId) {
        document.cookie = "selectedAddresseeGroup=" + groupId + "; path=/";
        window.location.href = '@Url.Action("Addressees", "AddresseeGroup")'
    }

    function AllAddresses(){
        window.location.href = '@Url.Action("AllAddresses", "AddresseeGroup")'
    }

    function CreateAddresseeGroup() {
        var numberGroup = document.getElementById("numberNewAddrGroup").value;
        var nameGroup = document.getElementById("nameNewAddrGroup").value;
        $.ajax({
            method: 'POST',
            url: '@Url.Action("CreateGroup", "AddresseeGroup")',
            data: {
                "number": numberGroup,
                "name": nameGroup
            },
            dataType: 'html',
            success: function (result) {
                document.cookie = "selectedAddresseeGroup=" + numberGroup + "; path=/";
                window.location.href = '@Url.Action("Addressees", "AddresseeGroup")'
            }
        });
        ClearNewAddrGroup();
    }

    function ClearNewAddrGroup() {
        document.getElementById("nameNewAddrGroup").value = '';
        document.getElementById("numberNewAddrGroup").value = '';
    }

    function DelAddrGroup(group) {
        document.getElementById("deletedGroup").innerText = group;
    }

    function DeleteAddrGroup() {
        $.ajax({
            method: 'POST',
            url: '@Url.Action("DeleteAddresseeGroup", "AddresseeGroup")',
            data: {
                "id": selectAddrGroup,
            },
            dataType: 'html',
            success: function (result) {
                window.location.href = '@Url.Action("Tasks", "Task")'
            }
        });
    }

    function Logout(){
        window.location.href = '@Url.Action("Logout", "Account")'
    }

    function UserLogs() {
        window.location.href = '@Url.Action("Index", "UserLogs")'
    }

    function Tasks(taskGroup) {
        document.cookie = "selectedTaskGroup=" + taskGroup + "; path=/";
        selectGroup = taskGroup;
        ShowHideSubMenu('sub-menu-tasks');
        window.location.href = '@Url.Action("Tasks", "Task")'
    }
</script>
