@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<TaskEntity>
@{
}




<div class="main-table grid" scrollable="">
    <div class="table-header-div">
        <table class="table-header">
            <colgroup>
                <col style="min-width:140px;width:140px;">
                <col style="min-width:135px;width:135px;">
                <col style="min-width:140px;width:140px;">
                <col style="min-width:140px;width:140px;">
                <col style="min-width:150px;width:150px;">
                <col style="min-width:140px;width:140px;">
                <col style="min-width:150px;width:150px;">
                @* <col style="min-width:130px;width:130px;"> *@
                <col style="min-width:110px;width:110px;">
                <col style="min-width:180px;width:180px;">
                <col style="min-width:110px;width:100%;">
            </colgroup>
            <thead>
                <tr>
                    <th>
                        <p></p>
                        <div class="separate"></div>
                        <div class="sorter"></div>
                    </th>
                    <th onclick="sortTable(1)">
                        <p>Идентификатор</p>
                        <div class="separate"></div>
                        <div class="sorter"></div>
                    </th>
                    <th onclick="sortTable(2)">
                        <p>Наименование</p>
                        <div class="separate"></div>
                        <div class="sorter"></div>
                    </th>
                    <th>
                        <p>Время начала</p>
                        <div class="separate"></div>
                        <div class="sorter"></div>
                    </th>
                    <th>
                        <p>Время окончания</p>
                        <div class="separate"></div>
                        <div class="sorter"></div>
                    </th>
                    <th onclick="sortTable(5)">
                        <p>Дни активности</p>
                        <div class="separate"></div>
                        <div class="sorter"></div>
                    </th>
                    <th onclick="sortTable(6)">
                        <p>Группа рассылки</p>
                        <div class="separate"></div>
                        <div class="sorter"></div>
                    </th>
                   @*  <th>
                        <p>Группы задач</p>
                        <div class="separate"></div>
                        <div class="sorter"></div>
                    </th> *@
                    <th>
                        <p>Активно</p>
                        <div class="separate"></div>
                        <div class="sorter"></div>
                    </th>
                    <th>
                        <p>Осталось выполнений</p>
                        <div class="separate"></div>
                        <div class="sorter"></div>
                    </th>
                    <th>
                        <p>Статус</p>
                        <div class="separate"></div>
                        <div class="sorter"></div>
                    </th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="table-body-div">
        <table class="table-body" id="tableTasks">
            <colgroup>
                <col style="min-width:140px;width:140px;">
                <col style="min-width:135px;width:135px;">
                <col style="min-width:140px;width:140px;">
                <col style="min-width:140px;width:140px;">
                <col style="min-width:150px;width:150px;">
                <col style="min-width:140px;width:140px;">
                <col style="min-width:150px;width:150px;">
                @* <col style="min-width:130px;width:130px;"> *@
                <col style="min-width:110px;width:110px;">
                <col style="min-width:180px;width:180px;">
                <col style="min-width:110px;width:100%;">
            </colgroup>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr onclick="SelectRow('tableTasks')" ondblclick="TaskSteps('@item.TaskId')">
                        <td>
                            <div class="group-btns-add">
                                <div class="btn-add" onclick="TaskDetails('@item.TaskId')" title="Просмотр">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11.9997 9.5C11.3366 9.5 10.7007 9.76339 10.2319 10.2322C9.76307 10.7011 9.49967 11.337 9.49967 12C9.49967 12.663 9.76307 13.2989 10.2319 13.7678C10.7007 14.2366 11.3366 14.5 11.9997 14.5C12.6627 14.5 13.2986 14.2366 13.7674 13.7678C14.2363 13.2989 14.4997 12.663 14.4997 12C14.4997 11.337 14.2363 10.7011 13.7674 10.2322C13.2986 9.76339 12.6627 9.5 11.9997 9.5ZM11.9997 16.1667C10.8946 16.1667 9.8348 15.7277 9.0534 14.9463C8.27199 14.1649 7.83301 13.1051 7.83301 12C7.83301 10.8949 8.27199 9.83512 9.0534 9.05372C9.8348 8.27232 10.8946 7.83333 11.9997 7.83333C13.1047 7.83333 14.1645 8.27232 14.946 9.05372C15.7274 9.83512 16.1663 10.8949 16.1663 12C16.1663 13.1051 15.7274 14.1649 14.946 14.9463C14.1645 15.7277 13.1047 16.1667 11.9997 16.1667ZM11.9997 5.75C7.83301 5.75 4.27467 8.34167 2.83301 12C4.27467 15.6583 7.83301 18.25 11.9997 18.25C16.1663 18.25 19.7247 15.6583 21.1663 12C19.7247 8.34167 16.1663 5.75 11.9997 5.75Z" fill="#999999" />
                                    </svg>
                                </div>
                                <div class="btn-add" onclick="EditTask('@item.TaskId')" title="Редактировать">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M4.5 16.5501V19.0834C4.5 19.3167 4.68333 19.5001 4.91667 19.5001H7.45C7.55833 19.5001 7.66667 19.4584 7.74167 19.3751L16.8417 10.2834L13.7167 7.15842L4.625 16.2501C4.54167 16.3334 4.5 16.4334 4.5 16.5501ZM19.2583 7.86675C19.3356 7.78966 19.3969 7.69808 19.4387 7.59727C19.4805 7.49646 19.502 7.38839 19.502 7.27925C19.502 7.17011 19.4805 7.06204 19.4387 6.96123C19.3969 6.86042 19.3356 6.76885 19.2583 6.69175L17.3083 4.74175C17.2312 4.6645 17.1397 4.60321 17.0389 4.56139C16.938 4.51957 16.83 4.49805 16.7208 4.49805C16.6117 4.49805 16.5036 4.51957 16.4028 4.56139C16.302 4.60321 16.2104 4.6645 16.1333 4.74175L14.6083 6.26675L17.7333 9.39175L19.2583 7.86675Z" fill="#999999" />
                                    </svg>
                                </div>
                                <div class="btn-add" title="Журнал">
                                    <a asp-controller="Task" asp-action="TaskLog" class="btn btn-info" asp-route-taskId="@item.TaskId" >
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7 4.5C6.33696 4.5 5.70107 4.76339 5.23223 5.23223C4.76339 5.70107 4.5 6.33696 4.5 7V17C4.5 17.663 4.76339 18.2989 5.23223 18.7678C5.70107 19.2366 6.33696 19.5 7 19.5H17C17.663 19.5 18.2989 19.2366 18.7678 18.7678C19.2366 18.2989 19.5 17.663 19.5 17V7C19.5 6.33696 19.2366 5.70107 18.7678 5.23223C18.2989 4.76339 17.663 4.5 17 4.5H7ZM10.3333 8.66667C10.3333 8.44565 10.4211 8.23369 10.5774 8.07741C10.7337 7.92113 10.9457 7.83333 11.1667 7.83333H16.1667C16.3877 7.83333 16.5996 7.92113 16.7559 8.07741C16.9122 8.23369 17 8.44565 17 8.66667C17 8.88768 16.9122 9.09964 16.7559 9.25592C16.5996 9.4122 16.3877 9.5 16.1667 9.5H11.1667C10.9457 9.5 10.7337 9.4122 10.5774 9.25592C10.4211 9.09964 10.3333 8.88768 10.3333 8.66667ZM10.3333 12C10.3333 11.779 10.4211 11.567 10.5774 11.4107C10.7337 11.2545 10.9457 11.1667 11.1667 11.1667H16.1667C16.3877 11.1667 16.5996 11.2545 16.7559 11.4107C16.9122 11.567 17 11.779 17 12C17 12.221 16.9122 12.433 16.7559 12.5893C16.5996 12.7455 16.3877 12.8333 16.1667 12.8333H11.1667C10.9457 12.8333 10.7337 12.7455 10.5774 12.5893C10.4211 12.433 10.3333 12.221 10.3333 12ZM10.3333 15.3333C10.3333 15.1123 10.4211 14.9004 10.5774 14.7441C10.7337 14.5878 10.9457 14.5 11.1667 14.5H16.1667C16.3877 14.5 16.5996 14.5878 16.7559 14.7441C16.9122 14.9004 17 15.1123 17 15.3333C17 15.5543 16.9122 15.7663 16.7559 15.9226C16.5996 16.0789 16.3877 16.1667 16.1667 16.1667H11.1667C10.9457 16.1667 10.7337 16.0789 10.5774 15.9226C10.4211 15.7663 10.3333 15.5543 10.3333 15.3333ZM7.83333 7.83333C7.61232 7.83333 7.40036 7.92113 7.24408 8.07741C7.0878 8.23369 7 8.44565 7 8.66667C7 8.88768 7.0878 9.09964 7.24408 9.25592C7.40036 9.4122 7.61232 9.5 7.83333 9.5C8.05435 9.5 8.26714 9.4122 8.42342 9.25592C8.5797 9.09964 8.6675 8.88768 8.6675 8.66667C8.6675 8.44565 8.5797 8.23369 8.42342 8.07741C8.26714 7.92113 8.05435 7.83333 7.83333 7.83333ZM7 12C7 11.779 7.0878 11.567 7.24408 11.4107C7.40036 11.2545 7.61232 11.1667 7.83333 11.1667C8.05435 11.1667 8.26714 11.2545 8.42342 11.4107C8.5797 11.567 8.6675 11.779 8.6675 12C8.6675 12.221 8.5797 12.433 8.42342 12.5893C8.26714 12.7455 8.05518 12.8333 7.83417 12.8333C7.61315 12.8333 7.40036 12.7455 7.24408 12.5893C7.0878 12.433 7 12.221 7 12ZM7.83333 14.5C7.61232 14.5 7.40036 14.5878 7.24408 14.7441C7.0878 14.9004 7 15.1123 7 15.3333C7 15.5543 7.0878 15.7663 7.24408 15.9226C7.40036 16.0789 7.61232 16.1667 7.83333 16.1667C8.05435 16.1667 8.26714 16.0789 8.42342 15.9226C8.5797 15.7663 8.6675 15.5543 8.6675 15.3333C8.6675 15.1123 8.5797 14.9004 8.42342 14.7441C8.26714 14.5878 8.05435 14.5 7.83333 14.5Z" fill="#999999" />
                                        </svg>
                                    </a>
                                </div>
                                <div class="btn-add" onclick="ModalDeleteTask('@item.TaskId')">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M7.83332 19.5C7.37498 19.5 6.98276 19.3369 6.65665 19.0108C6.33054 18.6847 6.1672 18.2922 6.16665 17.8333V7C5.93054 7 5.73276 6.92 5.57332 6.76C5.41387 6.6 5.33387 6.40222 5.33332 6.16667C5.33276 5.93111 5.41276 5.73333 5.57332 5.57333C5.73387 5.41333 5.93165 5.33333 6.16665 5.33333H9.49998C9.49998 5.09722 9.57998 4.89944 9.73998 4.74C9.89998 4.58056 10.0978 4.50056 10.3333 4.5H13.6666C13.9028 4.5 14.1008 4.58 14.2608 4.74C14.4208 4.9 14.5005 5.09778 14.5 5.33333H17.8333C18.0694 5.33333 18.2675 5.41333 18.4275 5.57333C18.5875 5.73333 18.6672 5.93111 18.6666 6.16667C18.6661 6.40222 18.5861 6.60028 18.4266 6.76083C18.2672 6.92139 18.0694 7.00111 17.8333 7V17.8333C17.8333 18.2917 17.6703 18.6842 17.3441 19.0108C17.018 19.3375 16.6255 19.5006 16.1666 19.5H7.83332ZM10.3333 16.1667C10.5694 16.1667 10.7675 16.0867 10.9275 15.9267C11.0875 15.7667 11.1672 15.5689 11.1666 15.3333V9.5C11.1666 9.26389 11.0866 9.06611 10.9266 8.90667C10.7666 8.74722 10.5689 8.66722 10.3333 8.66667C10.0978 8.66611 9.89998 8.74611 9.73998 8.90667C9.57998 9.06722 9.49998 9.265 9.49998 9.5V15.3333C9.49998 15.5694 9.57998 15.7675 9.73998 15.9275C9.89998 16.0875 10.0978 16.1672 10.3333 16.1667ZM13.6666 16.1667C13.9028 16.1667 14.1008 16.0867 14.2608 15.9267C14.4208 15.7667 14.5005 15.5689 14.5 15.3333V9.5C14.5 9.26389 14.42 9.06611 14.26 8.90667C14.1 8.74722 13.9022 8.66722 13.6666 8.66667C13.4311 8.66611 13.2333 8.74611 13.0733 8.90667C12.9133 9.06722 12.8333 9.265 12.8333 9.5V15.3333C12.8333 15.5694 12.9133 15.7675 13.0733 15.9275C13.2333 16.0875 13.4311 16.1672 13.6666 16.1667Z" fill="var(--gray)" />
                                    </svg>
                                </div>
                            </div>
                        </td>
                        <td><p>@item.TaskId</p></td>
                        <td><p>@item.Name</p></td>
                        <td><p>@item.TimeBegin.ToLongTimeString()</p></td>
                        <td><p>@item.TimeEnd.ToLongTimeString()</p></td>
                        <td><p>@item.DayActive</p></td>
                        <td><p>@item.AddresseeGroupId</p></td>
                        @* <td><p>@item.TaskGroupId</p></td> *@
                        <td>
                            <div>
                                <label class="toggle-checkbox">
                                    <input type="checkbox" checked="@item.IsActive" onclick="ShowModal('modal-active-task'), OnOffTask('@item.TaskId.ToString()')">
                                    <span class="toggle-checkbox-switch"></span>
                                </label>
                            </div>
                        </td>
                        <td onclick="SetExecutionLimit('@item.TaskId')"><p>@item.ExecutionLeft</p></td>
                        <td>
                            <div>
                                @if (item.TaskStatus.IsProgress)
                                {
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8 2C12.4182 2.00008 16 5.58148 16 10C16 14.4185 12.4182 17.9999 8 18C3.5817 18 2.93255e-05 14.4185 0 10C0 5.58143 3.58169 2 8 2ZM9.67969 11.9199C9.55239 11.9199 9.42986 11.9705 9.33984 12.0605C9.24987 12.1506 9.19922 12.2731 9.19922 12.4004C9.1993 12.5275 9.25006 12.6493 9.33984 12.7393C9.42986 12.8293 9.55239 12.8799 9.67969 12.8799H10.5352C9.83569 13.4986 8.93379 13.8399 8 13.8398C7.85881 13.8401 7.71725 13.832 7.57715 13.8145C7.45067 13.7992 7.32289 13.8345 7.22266 13.9131C7.12259 13.9917 7.05827 14.1071 7.04297 14.2334C7.02769 14.3599 7.06297 14.4877 7.1416 14.5879C7.22021 14.688 7.33555 14.7523 7.46191 14.7676C7.64027 14.7895 7.82031 14.8003 8 14.7998C9.1452 14.7992 10.2518 14.3875 11.1191 13.6396V14.3203C11.1192 14.4474 11.17 14.5692 11.2598 14.6592C11.3498 14.7492 11.4723 14.7998 11.5996 14.7998C11.7269 14.7998 11.8485 14.7492 11.9385 14.6592C12.0285 14.5692 12.0791 14.4476 12.0791 14.3203V12.4004C12.0758 12.3686 12.07 12.3361 12.0605 12.3057C12.0485 12.2468 12.0249 12.191 11.9922 12.1406L11.9873 12.1318C11.9553 12.086 11.9158 12.0458 11.8701 12.0137C11.8649 12.0099 11.862 12.0048 11.8564 12.001C11.8516 11.9976 11.8451 11.9975 11.8398 11.9941C11.7789 11.9607 11.7124 11.9384 11.6436 11.9287C11.6282 11.9273 11.6149 11.92 11.5996 11.9199H9.67969ZM3.57812 9.04688C3.51665 9.06444 3.45904 9.09473 3.40918 9.13477C3.35936 9.17478 3.31752 9.22407 3.28711 9.28027C3.25676 9.33643 3.23768 9.39839 3.23145 9.46191C3.20956 9.64027 3.19875 9.8203 3.19922 10C3.1997 11.1454 3.61152 12.2527 4.35938 13.1201H3.67969C3.55239 13.1201 3.42986 13.1707 3.33984 13.2607C3.24996 13.3507 3.19922 13.4734 3.19922 13.6006C3.19934 13.7276 3.25009 13.8496 3.33984 13.9395C3.42986 14.0295 3.55239 14.0801 3.67969 14.0801H5.59961C5.67456 14.0792 5.74824 14.0605 5.81445 14.0254C5.88063 13.9902 5.93775 13.9395 5.98047 13.8779L5.99805 13.8574C6.00139 13.8526 6.00205 13.8466 6.00488 13.8418C6.02754 13.8031 6.04457 13.7612 6.05566 13.7178C6.06277 13.6933 6.06817 13.6679 6.07129 13.6426C6.07278 13.6284 6.07896 13.6156 6.0791 13.6006V11.6797C6.079 11.5527 6.02918 11.4307 5.93945 11.3408C5.84944 11.2508 5.7269 11.2002 5.59961 11.2002C5.47231 11.2002 5.34978 11.2508 5.25977 11.3408C5.17003 11.4307 5.11924 11.5527 5.11914 11.6797V12.5352C4.50062 11.8356 4.15896 10.9338 4.15918 10C4.15862 9.85881 4.16738 9.71729 4.18457 9.57715C4.19365 9.51397 4.18992 9.44947 4.17383 9.3877C4.15769 9.32585 4.12967 9.26755 4.09082 9.2168C4.05194 9.16604 4.00279 9.1235 3.94727 9.0918C3.89191 9.06024 3.83082 9.03993 3.76758 9.03223C3.70424 9.02457 3.63949 9.02942 3.57812 9.04688ZM10.3076 5.93848L10.3037 5.93945C10.2458 5.95158 10.1903 5.97365 10.1406 6.00586L10.1309 6.0127C10.0853 6.04458 10.0457 6.08441 10.0137 6.12988C10.0098 6.13462 10.0038 6.13734 10 6.14258C9.99668 6.14737 9.99651 6.15392 9.99316 6.15918C9.95961 6.22065 9.93722 6.28803 9.92773 6.35742C9.92624 6.37155 9.92006 6.38437 9.91992 6.39941V8.32031C9.92002 8.44749 9.97062 8.56925 10.0605 8.65918C10.1505 8.7491 10.2722 8.79979 10.3994 8.7998C10.5267 8.7998 10.6492 8.7492 10.7393 8.65918C10.829 8.56927 10.8798 8.44736 10.8799 8.32031V7.46387C11.4983 8.16384 11.8397 9.06595 11.8398 10C11.8402 10.1412 11.8318 10.2827 11.8145 10.4229C11.7993 10.5491 11.8347 10.6763 11.9131 10.7764C11.9915 10.8764 12.1062 10.9417 12.2324 10.957C12.2518 10.9593 12.2715 10.96 12.291 10.96C12.4082 10.9598 12.5218 10.9167 12.6094 10.8389C12.6967 10.7612 12.7525 10.6541 12.7666 10.5381C12.7887 10.3597 12.8001 10.1797 12.7998 10C12.7993 8.85464 12.3875 7.74733 11.6396 6.87988H12.3193C12.4466 6.87988 12.5692 6.82928 12.6592 6.73926C12.7491 6.64926 12.7998 6.52663 12.7998 6.39941C12.7997 6.27237 12.749 6.15044 12.6592 6.06055C12.5692 5.97053 12.4466 5.91992 12.3193 5.91992H10.3994C10.3683 5.92312 10.3375 5.92929 10.3076 5.93848ZM8 5.2002C6.85463 5.20068 5.74731 5.61235 4.87988 6.36035V5.67969C4.87984 5.55259 4.82904 5.43077 4.73926 5.34082C4.64924 5.2508 4.52672 5.2002 4.39941 5.2002C4.27218 5.20025 4.15052 5.25085 4.06055 5.34082C3.97059 5.4308 3.91997 5.55245 3.91992 5.67969V7.59961C3.92303 7.63131 3.92916 7.66289 3.93848 7.69336C3.95038 7.75239 3.97315 7.80882 4.00586 7.85938L4.01172 7.86816C4.04356 7.91394 4.08337 7.95414 4.12891 7.98633C4.13404 7.99017 4.13738 7.99524 4.14258 7.99902C4.14929 8.00381 4.15687 8.00593 4.16406 8.00977C4.19129 8.02592 4.22013 8.03931 4.25 8.0498C4.29044 8.06383 4.33327 8.07234 4.37598 8.0752C4.38438 8.07533 4.39099 8.08001 4.39941 8.08008H6.31934C6.44664 8.08008 6.56916 8.02947 6.65918 7.93945C6.74917 7.84944 6.7998 7.72689 6.7998 7.59961C6.79972 7.47252 6.74898 7.35067 6.65918 7.26074C6.56916 7.17072 6.44664 7.12012 6.31934 7.12012H5.46387C6.16358 6.50123 7.06588 6.15982 8 6.16016C8.14103 6.15977 8.28191 6.16822 8.42188 6.18555C8.54835 6.20082 8.67614 6.16457 8.77637 6.08594C8.87635 6.00731 8.9408 5.89192 8.95605 5.76562C8.97122 5.6393 8.93593 5.51224 8.85742 5.41211C8.77879 5.31187 8.66358 5.24672 8.53711 5.23145C8.35891 5.20973 8.17952 5.19958 8 5.2002Z" fill="#0F8D36" />
                                    </svg>
                                }
                                else if(item.TaskStatus.IsError)
                                {
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_16_13555)">
                                            <path d="M8 14C8.22666 14 8.4168 13.9232 8.5704 13.7696C8.724 13.616 8.80053 13.4261 8.79999 13.2C8.79946 12.9739 8.72266 12.784 8.5696 12.6304C8.41653 12.4768 8.22666 12.4 8 12.4C7.77333 12.4 7.58346 12.4768 7.4304 12.6304C7.27733 12.784 7.20053 12.9739 7.2 13.2C7.19946 13.4261 7.27626 13.6163 7.4304 13.7704C7.58453 13.9245 7.7744 14.0011 8 14ZM8 10.8C8.22666 10.8 8.4168 10.7232 8.5704 10.5696C8.724 10.416 8.80053 10.2261 8.79999 10V6.8C8.79999 6.57333 8.7232 6.38347 8.5696 6.2304C8.41599 6.07733 8.22613 6.00053 8 6C7.77386 5.99947 7.584 6.07627 7.4304 6.2304C7.2768 6.38453 7.2 6.5744 7.2 6.8V10C7.2 10.2267 7.2768 10.4168 7.4304 10.5704C7.584 10.724 7.77386 10.8005 8 10.8ZM8 18C6.89333 18 5.85333 17.7899 4.88 17.3696C3.90667 16.9493 3.06 16.3795 2.34 15.66C1.62 14.9405 1.05013 14.0939 0.630401 13.12C0.210668 12.1461 0.000534346 11.1061 1.01266e-06 10C-0.00053232 8.89387 0.209601 7.85387 0.630401 6.88C1.0512 5.90613 1.62107 5.05947 2.34 4.34C3.05893 3.62053 3.9056 3.05067 4.88 2.6304C5.8544 2.21013 6.8944 2 8 2C9.10559 2 10.1456 2.21013 11.12 2.6304C12.0944 3.05067 12.9411 3.62053 13.66 4.34C14.3789 5.05947 14.9491 5.90613 15.3704 6.88C15.7917 7.85387 16.0016 8.89387 16 10C15.9984 11.1061 15.7883 12.1461 15.3696 13.12C14.9509 14.0939 14.3811 14.9405 13.66 15.66C12.9389 16.3795 12.0923 16.9496 11.12 17.3704C10.1477 17.7912 9.10773 18.0011 8 18Z" fill="#DB1921" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_16_13555">
                                                <rect width="20" height="20" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                }
                                else
                                {
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_16_13562)">
                                            <path d="M8 2C12.4184 2 16 5.5816 16 10C16 14.4184 12.4184 18 8 18C3.5816 18 0 14.4184 0 10C0 5.5816 3.5816 2 8 2ZM8 5.2C7.78783 5.2 7.58434 5.28429 7.43431 5.43431C7.28429 5.58434 7.2 5.78783 7.2 6V10C7.20005 10.2122 7.28436 10.4156 7.4344 10.5656L9.8344 12.9656C9.98528 13.1113 10.1874 13.192 10.3971 13.1901C10.6069 13.1883 10.8075 13.1042 10.9559 12.9559C11.1042 12.8075 11.1883 12.6069 11.1901 12.3971C11.192 12.1874 11.1113 11.9853 10.9656 11.8344L8.8 9.6688V6C8.8 5.78783 8.71571 5.58434 8.56569 5.43431C8.41566 5.28429 8.21217 5.2 8 5.2Z" fill="#FCDE11" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_16_13562">
                                                <rect width="20" height="20" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                }

                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<footer>
    @* <div class="pagination">

        <div class="pagination-buttons">

            <div class="btn-short">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_64_7546)">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M4.16602 9.56793C4.16631 9.23652 4.29819 8.9188 4.53268 8.6846L8.69935 4.51793C8.93631 4.29713 9.24972 4.17693 9.57355 4.18264C9.89739 4.18835 10.2064 4.31954 10.4354 4.54856C10.6644 4.77759 10.7956 5.08656 10.8013 5.4104C10.807 5.73423 10.6868 6.04764 10.466 6.2846L7.18435 9.56793L10.4677 12.8513C10.6953 13.0871 10.8211 13.4029 10.8181 13.7307C10.8151 14.0584 10.6835 14.3719 10.4516 14.6035C10.2198 14.8352 9.90619 14.9665 9.57844 14.9692C9.25069 14.9719 8.93499 14.8457 8.69935 14.6179L4.53268 10.4513C4.29819 10.2171 4.16631 9.89934 4.16602 9.56793ZM9.16602 9.56793C9.16631 9.23652 9.29819 8.9188 9.53268 8.6846L13.6993 4.51793C13.9363 4.29713 14.2497 4.17693 14.5736 4.18264C14.8974 4.18835 15.2064 4.31954 15.4354 4.54856C15.6644 4.77759 15.7956 5.08656 15.8013 5.4104C15.807 5.73423 15.6868 6.04764 15.466 6.2846L12.1843 9.56793L15.4677 12.8513C15.6953 13.0871 15.8211 13.4029 15.8181 13.7307C15.8151 14.0584 15.6835 14.3719 15.4516 14.6035C15.2198 14.8352 14.9062 14.9665 14.5784 14.9692C14.2507 14.9719 13.935 14.8457 13.6993 14.6179L9.53268 10.4513C9.29819 10.2171 9.16631 9.89934 9.16602 9.56793Z" fill="white" />
                    </g>
                    <defs>
                        <clipPath id="clip0_64_7546">
                            <rect width="20" height="20" fill="white" />
                        </clipPath>
                    </defs>
                </svg>
            </div>
            <div class="btn-short">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_64_7537)">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.66577 9.66608C6.66606 9.33467 6.79795 9.01694 7.03244 8.78274L11.1991 4.61608C11.4361 4.39528 11.7495 4.27507 12.0733 4.28079C12.3971 4.2865 12.7061 4.41769 12.9351 4.64671C13.1642 4.87573 13.2953 5.18471 13.3011 5.50854C13.3068 5.83238 13.1866 6.14579 12.9658 6.38274L9.6841 9.66608L12.9674 12.9494C13.195 13.1853 13.3209 13.5011 13.3179 13.8288C13.3149 14.1566 13.1833 14.47 12.9514 14.7017C12.7195 14.9333 12.4059 15.0646 12.0782 15.0673C11.7504 15.07 11.4347 14.9439 11.1991 14.7161L7.03244 10.5494C6.79795 10.3152 6.66606 9.99749 6.66577 9.66608Z" fill="white" />
                    </g>
                    <defs>
                        <clipPath id="clip0_64_7537">
                            <rect width="20" height="20" fill="white" />
                        </clipPath>
                    </defs>
                </svg>
            </div>
            <div class="btn-short page-number">
                ...
            </div>
            <div class="btn-short page-number">
                2
            </div>
            <div class="btn-short page-number">
                3
            </div>
            <div class="btn-short page-number">
                4
            </div>
            <div class="btn-short page-number">
                5
            </div>
            <div class="btn-short page-number">
                6
            </div>
            <div class="btn-short page-number active">
                7
            </div>
            <div class="btn-short page-number">
                8
            </div>
            <div class="btn-short page-number">
                9
            </div>
            <div class="btn-short page-number">
                10
            </div>
            <div class="btn-short page-number">
                11
            </div>
            <div class="btn-short page-number">
                ...
            </div>
            <div class="btn-short">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M13.3179 9.68207C13.3176 10.0135 13.1857 10.3312 12.9512 10.5654L8.78454 14.7321C8.54758 14.9529 8.23417 15.0731 7.91033 15.0674C7.5865 15.0616 7.27752 14.9305 7.0485 14.7014C6.81948 14.4724 6.68829 14.1634 6.68258 13.8396C6.67687 13.5158 6.79707 13.2024 7.01787 12.9654L10.2995 9.68207L7.0162 6.39873C6.78862 6.16287 6.66277 5.84706 6.66577 5.51931C6.66877 5.19157 6.80038 4.87811 7.03225 4.64646C7.26412 4.41481 7.5777 4.2835 7.90545 4.2808C8.2332 4.27811 8.54889 4.40426 8.78454 4.63207L12.9512 8.79873C13.1857 9.03293 13.3176 9.35066 13.3179 9.68207Z" fill="white" />
                </svg>
            </div>
            <div class="btn-short">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_64_7546)">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M15.8181 9.58392C15.8178 9.91533 15.6859 10.2331 15.4514 10.4673L11.2848 14.6339C11.0478 14.8547 10.7344 14.9749 10.4106 14.9692C10.0867 14.9635 9.77777 14.8323 9.54875 14.6033C9.31972 14.3743 9.18854 14.0653 9.18282 13.7415C9.17711 13.4176 9.29732 13.1042 9.51812 12.8673L12.7998 9.58392L9.51645 6.30059C9.28886 6.06473 9.16301 5.74892 9.16602 5.42117C9.16902 5.09342 9.30063 4.77997 9.5325 4.54832C9.76437 4.31667 10.0779 4.18535 10.4057 4.18266C10.7334 4.17997 11.0491 4.30611 11.2848 4.53392L15.4514 8.70059C15.6859 8.93478 15.8178 9.25251 15.8181 9.58392ZM10.8181 9.58392C10.8178 9.91533 10.6859 10.2331 10.4514 10.4673L6.28478 14.6339C6.04782 14.8547 5.73441 14.9749 5.41058 14.9692C5.08674 14.9635 4.77777 14.8323 4.54875 14.6033C4.31972 14.3743 4.18854 14.0653 4.18282 13.7415C4.17711 13.4176 4.29732 13.1042 4.51812 12.8673L7.79978 9.58392L4.51645 6.30059C4.28886 6.06473 4.16301 5.74892 4.16601 5.42117C4.16902 5.09342 4.30063 4.77997 4.5325 4.54832C4.76437 4.31667 5.07795 4.18535 5.40569 4.18266C5.73344 4.17997 6.04914 4.30611 6.28478 4.53392L10.4514 8.70059C10.6859 8.93478 10.8178 9.25251 10.8181 9.58392Z" fill="white" />
                    </g>
                    <defs>
                        <clipPath id="clip0_64_7546">
                            <rect width="20" height="20" fill="white" />
                        </clipPath>
                    </defs>
                </svg>
            </div>
        </div>
        <div class="pagination-text">
            Страница 7 из 38
        </div>
    </div> *@
</footer>

<script>
    ActiveTask();

    function TaskSteps(taskId) {
        document.cookie = "selectedTask=" + taskId + "; path=/";
        location.href = "@Url.Action("Steps", "Step", new { taskId = "cid" })".replace("cid", taskId.toString());
    }

    // SelectTask();

   


    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("tableTasks");
        switching = true;
        //Задать направление сортировки по возрастанию:
        dir = "asc";
        /*Сделайте петлю, которая будет продолжаться до тех пор, пока
        никакого переключения не было сделано:*/
        while (switching) {
            //начните с того, что скажите: никакого переключения не происходит:
            switching = false;
            rows = table.rows;
            /*Цикл через все строки таблицы (за исключением
            во-первых, который содержит заголовки таблиц):*/
            for (i = 0; i < (rows.length - 1); i++) {
                //начните с того, что не должно быть никакого переключения:
                shouldSwitch = false;
                /*Получите два элемента, которые вы хотите сравнить,
                один из текущей строки и один из следующей:*/
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /*проверьте, должны ли две строки поменяться местами,
                в зависимости от направления, asc или desc:*/
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        //если это так, отметьте как переключатель и разорвите петлю:
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        //если это так, отметьте как переключатель и разорвите петлю:
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /*Если переключатель был отмечен, сделайте переключатель
                и отметьте, что переключение было сделано:*/
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                //Каждый раз, когда выполняется переключение, увеличьте это число на 1:
                switchcount++;
            } else {
                /*Если переключение не было сделано и направление "asc",
                установите направление на "desc"и снова запустите цикл while.*/
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }


    function SetExecutionLimit(taskId){
        console.log(taskId)
        ShowModal('modal-change-limit');
        document.getElementById('limit-taskId').value = taskId;
    }


</script>