@using FileManager.Core.ViewModels
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model TaskDetailsViewModel
@{
	SelectList addresseeGroupsSelect = new SelectList(ViewBag.AddresseeGroups, "Id", "Name");
	List<AddresseeGroupEntity> addresseeGroups = ViewBag.AddresseeGroups;
}

<div class="modal-body-content">
	<div class="modal-row">
		<div class="modal-td">
			<p class="td-title">Задача</p>
			<p class="td-text">@Model.Task.TaskId</p>
		</div>
		<div class="modal-td">
			<p class="td-title">Наименование</p>
			<p class="td-text">@Model.Task.Name</p>
		</div>
		<div class="modal-td">
			<p class="td-title">Время начала</p>
			<p class="td-text">@Model.Task.TimeBegin.ToLongTimeString()</p>
		</div>
		<div class="modal-td">
			<p class="td-title">Время окончания</p>
			<p class="td-text">@Model.Task.TimeEnd.ToLongTimeString()</p>
		</div>
	</div>
	<div class="modal-row">
		<div class="modal-td">
			<p class="td-title">Дни активности</p>
			<p class="td-text">@Model.Task.DayActive</p>
		</div>
		<div class="modal-td">
			<p class="td-title">Группа рассылки</p>
			<p class="td-text">@Model.Task.AddresseeGroupId</p>
		</div>
		<div class="modal-td">
			<p class="td-title">Статус</p>
			<p class="td-text"></p>
		</div>
	</div>
</div>