@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using FileManager.Domain.Enum
@using FileManager.Domain.Entity
@model FileManager.Domain.ViewModels.Task.TaskDetailsViewModel
@{
	//ViewData["Title"] = "Настройки задачи";

	SelectList addresseeGroupsSelect = new SelectList(ViewBag.AddresseeGroups, "Id", "Name");
	SelectList taskGroupsSelect = new SelectList(ViewBag.TaskGroups, "Id", "Name");
	List<AddresseeGroupEntity> addresseeGroups = ViewBag.AddresseeGroups;
	List<TaskGroupEntity> taskGroups = ViewBag.TaskGroups;
}


<div class="modal-body-content">
	<div class="modal-row">
		<div class="modal-td">
			<p class="td-title">Задача</p>
			<p class="td-text">@Model.Task.TaskId</p>
		</div>
		<div class="modal-td">
			<p class="td-title">Наименование</p>
			<p class="td-text">@Model.Task.Name</p>
		</div>
		<div class="modal-td">
			<p class="td-title">Время начала</p>
			<p class="td-text">@Model.Task.TimeBegin</p>
		</div>
		<div class="modal-td">
			<p class="td-title">Время окончания</p>
			<p class="td-text">@Model.Task.TimeEnd</p>
		</div>
		<div class="modal-td">
			<p class="td-title">Последнее изменение</p>
			<p class="td-text">@Model.Task.LastModified</p>
		</div>
	</div>
	<div class="modal-row">
		<div class="modal-td">
			<p class="td-title">Дни активности</p>
			<p class="td-text">@Model.Task.DayActive</p>
		</div>
		<div class="modal-td">
			<p class="td-title">Группа рассылки</p>
			<p class="td-text">@Model.Task.AddresseeGroupId</p>
		</div>
		<div class="modal-td">
			<p class="td-title">Группа задач</p>
			<p class="td-text">@Model.Task.TaskGroupId</p>
		</div>
		<div class="modal-td">
			<p class="td-title">Статус</p>
			<p class="td-text"></p>
		</div>
	</div>
</div>