@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using FileManager.Domain.Enum
@model FileManager.Domain.Entity.TaskStepEntity
@{
	ViewData["Title"] = "Настройки шага";


}
<div class="container-fluid padding-top-container" style="padding-left: 0px; padding-right: 0px;">

	<div class="row">
		<div class="col-3" style="border-right: 1px solid;">
			<a asp-area="" asp-controller="Task" asp-action="TaskDetails"
			   asp-route-TaskId="@Model.TaskId" class="btn btn-warning">Назад</a>
			<button class="btn btn-info" onclick="ReadEditStep()" id="btnEditStep">Редактирование</button>

			<div id="stepDetailsRead">
				<span id="stepId" style="display:none;">@Model.StepId</span>
				<p> Задача <b>@Model.TaskId</b></p>
				<p>Номер шага - @Model.StepNumber</p>
				<p>Краткое описание - @Model.Description</p>
				<p>Включён - @Model.IsActive</p>
				<p>Прерывание - @Model.IsBreak</p>
				<p>Маска - @Model.FileMask</p>
				<p>Источник - @Model.Source</p>
				<p>Назначение - @Model.Destination</p>
				<p>Операция - <span id="stepOperation">@Model.OperationName</span></p>
			</div>

			<div id="stepDetailsEdit" style="display:none">
				<form asp-action="EditStep" method="post" asp-route-TaskId="@Model.TaskId" asp-route-StepNumber="@Model.StepNumber">
					<p> Задача <b>@Model.TaskId</b></p>
					<p>Номер шага - @Model.StepNumber</p>
					<div class="form-group" style="display: none;">
						<label asp-for="StepId" class="control-label"></label>
						<input asp-for="StepId" class="form-control" readonly/>
						<span asp-validation-for="StepId" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="TaskId" class="control-label"></label>
						<input asp-for="TaskId" class="form-control" readonly/>
						<span asp-validation-for="TaskId" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="StepNumber" class="control-label"></label>
						<input asp-for="StepNumber" class="form-control" readonly/>
						<span asp-validation-for="StepNumber" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="TaskId" class="control-label"></label>
						<input asp-for="TaskId" class="form-control" readonly/>
						<span asp-validation-for="TaskId" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="StepNumber" class="control-label"></label>
						<input asp-for="StepNumber" class="form-control" readonly/>
						<span asp-validation-for="StepNumber" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Description" class="control-label"></label>
						<input asp-for="Description" class="form-control" />
						<span asp-validation-for="Description" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="IsActive" class="form-check-label">
							Активно
							<input type="checkbox" class="form-check-input" asp-for="IsActive" />
						</label>
					</div>
					<div class="form-group">
						<label asp-for="IsBreak" class="form-check-label">
							Прерывание
							<input type="checkbox" class="form-check-input" asp-for="IsBreak" />
						</label>
					</div>
					<div class="form-group">
						<label asp-for="FileMask" class="control-label"></label>
						<input asp-for="FileMask" class="form-control" />
						<span asp-validation-for="FileMask" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Source" class="control-label"></label>
						<input asp-for="Source" class="form-control" />
						<span asp-validation-for="Source" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Destination" class="control-label"></label>
						<input asp-for="Destination" class="form-control" />
						<span asp-validation-for="Destination" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="OperationName" class="control-label"></label>
						<select asp-for="OperationName" class="form-select mb-3" asp-items="Html.GetEnumSelectList<OperationName>()"></select>
						<span asp-validation-for="OperationName" class="text-danger"></span>
					</div>
					<button type="submit" class="btn btn-success">Сохранить</button>
				</form>
			</div>
			
		</div>
		<div class="col-9" id="operation">



		</div>
	</div>

</div>
<script>

	window.addEventListener('load', () => {
		var operation = document.getElementById("stepOperation").innerText;
		var stepId = document.getElementById("stepId").innerText;
		$.ajax({
			method: 'POST',
			url: 'Operation',
			data: {"stepId": stepId,
					"operationName": operation},
			dataType: 'html',
			success: function (result) {
				$('#operation').empty();
				$('#operation').append(result);
			}
		});
	});


	var isEditTask = false;
	function ReadEditStep() {
		if (isEditTask) {
			document.getElementById("stepDetailsRead").style.display = "block";
			document.getElementById("stepDetailsEdit").style.display = "none";
			document.getElementById("btnEditStep").innerText = "Редактирование";
		}
		else {
			document.getElementById("stepDetailsRead").style.display = "none";
			document.getElementById("stepDetailsEdit").style.display = "block";
			document.getElementById("btnEditStep").innerText = "Просмотр";
		}
		isEditTask = !isEditTask;
	}
</script>