@using FileManager.Domain.Entity
@using FileManager.Domain.ViewModels.Step
@using FileManager.Domain.ViewModels.Task
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@* @model CopyTaskViewModel; *@
@model IEnumerable<CopyStepViewModel>
@{
}

<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Копировать
                </th>
                <th>
                    Номер шага
                </th>
                <th>
                    Описание шага
                </th>
                <th>
                    Копировать св-ва операции
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 0;
                foreach (var item in Model)
                {
                    string isCopy, number, description, isCopyOperation;
                    isCopy = $"copyStep[{i}].IsCopy";
                    number = $"copyStep[{i}].StepNumber";
                    description = $"copyStep[{i}].Description";
                    isCopyOperation = $"copyStep[{i}].IsCopyOperation";
                    <tr>
                        <td>
                            <div class="form-group form-check">
                                <div class="form-check form-switch">
                                    <input name="@isCopy" class="form-check-input" type="checkbox" asp-for="@item.IsCopy">
                                </div>
                            </div>
                        </td>
                        <td>
                            <input name="@number" asp-for="@item.StepNumber" class="form-control" readonly />
                        </td>
                        <td>
                            <input name="@description" asp-for="@item.Description" class="form-control" readonly />
                        </td>
                        <td>
                            <div class="form-group form-check">
                                <div class="form-check form-switch">
                                    <input name="@isCopyOperation" class="form-check-input" type="checkbox" asp-for="@item.IsCopyOperation">
                                </div>
                            </div>
                        </td>
                    </tr>
                    i++;
                }
            }
            
        </tbody>
    </table>
</div>