@using FileManager_Web.ViewModels
@using System.Security.Claims
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model GroupsViewModel;
@{
    ViewData["Title"] = "Задачи";
}

<div class="main-content">
    <div class="breadcrumbs">
        <svg class="arrow-back" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.32018 12.7335C7.15944 12.9041 6.94146 13 6.71417 13C6.48689 13 6.26891 12.9041 6.10817 12.7335L2.25096 8.63796C2.09027 8.46729 2 8.23584 2 7.99451C2 7.75317 2.09027 7.52172 2.25096 7.35105L6.10817 3.25548C6.26983 3.0897 6.48635 2.99796 6.71109 3.00004C6.93583 3.00211 7.15082 3.09783 7.30974 3.26657C7.46867 3.43531 7.55881 3.66359 7.56077 3.90222C7.56272 4.14085 7.47632 4.37075 7.32018 4.5424L4.99986 7.08438L13.1428 7.08438C13.3702 7.08438 13.5882 7.18027 13.7489 7.35095C13.9097 7.52163 14 7.75313 14 7.99451C14 8.23589 13.9097 8.46738 13.7489 8.63806C13.5882 8.80874 13.3702 8.90463 13.1428 8.90463H4.99986L7.32018 11.4466C7.48088 11.6173 7.57115 11.8487 7.57115 12.0901C7.57115 12.3314 7.48088 12.5629 7.32018 12.7335Z" fill="var(--gray)" />
        </svg>
        <a href="#">Главная страница</a>
        <svg width="6" height="16" viewBox="0 0 6 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.13941 5.15408C1.04075 5.25277 0.985327 5.3866 0.985327 5.52614C0.985327 5.66569 1.04075 5.79952 1.13941 5.89821L3.74438 8.50318L1.13941 11.1081C1.04355 11.2074 0.990502 11.3403 0.991701 11.4783C0.9929 11.6163 1.04825 11.7483 1.14582 11.8459C1.24339 11.9434 1.37538 11.9988 1.51337 12C1.65135 12.0012 1.78428 11.9481 1.88353 11.8523L4.86057 8.87524C4.95923 8.77655 5.01465 8.64272 5.01465 8.50318C5.01465 8.36363 4.95923 8.2298 4.86057 8.13111L1.88353 5.15408C1.78485 5.05542 1.65102 5 1.51147 5C1.37193 5 1.2381 5.05542 1.13941 5.15408Z" fill="var(--gray)" />
        </svg>
        <a href="#">Задачи</a>
        <svg width="6" height="16" viewBox="0 0 6 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.13941 5.15408C1.04075 5.25277 0.985327 5.3866 0.985327 5.52614C0.985327 5.66569 1.04075 5.79952 1.13941 5.89821L3.74438 8.50318L1.13941 11.1081C1.04355 11.2074 0.990502 11.3403 0.991701 11.4783C0.9929 11.6163 1.04825 11.7483 1.14582 11.8459C1.24339 11.9434 1.37538 11.9988 1.51337 12C1.65135 12.0012 1.78428 11.9481 1.88353 11.8523L4.86057 8.87524C4.95923 8.77655 5.01465 8.64272 5.01465 8.50318C5.01465 8.36363 4.95923 8.2298 4.86057 8.13111L1.88353 5.15408C1.78485 5.05542 1.65102 5 1.51147 5C1.37193 5 1.2381 5.05542 1.13941 5.15408Z" fill="var(--gray)" />
        </svg>
        <a href="#" class="active-page" id="breadcrumbs-taskgroup">Все</a>
    </div>
    <div class="table-toolbar">
        <div class="toolbar-left">
            <div class="btn-full" onclick="CreateTask()">
                Новая задача
            </div>
            <div class="btn-full" onclick="ShowActiveTask()">
                <span><span id="titleButton">Скрыть </span> неактивные</span>
            </div>
            <div class="btn-full" onclick="ShowModal('modal-copy-task')">
                Копировать задачу
            </div>
        </div>
        <div class="toolbar-right">
            <div class="input-group">
                <div class="select-wrapper">
                    <select>
                        <option>ID</option>
                        <option>Наименование</option>
                    </select>
                </div>
                <input>
            </div>
        </div>
    </div>
    <div id="tasks">

    </div>
</div>
<footer>
    <div class="pagination">
    </div>
</footer>
<div class="modal-wrapper" id="modal-active-task">
    <div class="modal">
        <div class="modal-header">
            <p><span id="titleInfo"></span> задачу <span id="idTaskInfo"></span>?</p>
            <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg" onclick="CloseModal('modal-active-task'), CancelOnOffTask()">
                <path d="M5.19281 4.69635L8 7.50342L10.7926 4.71089C10.8543 4.64524 10.9286 4.59272 11.0111 4.55648C11.0936 4.52024 11.1825 4.50103 11.2726 4.5C11.4655 4.5 11.6505 4.57662 11.7869 4.713C11.9233 4.84938 11.9999 5.03435 11.9999 5.22722C12.0016 5.31638 11.985 5.40494 11.9513 5.48748C11.9175 5.57001 11.8672 5.64478 11.8035 5.70719L8.97452 8.49971L11.8035 11.3286C11.9234 11.4459 11.9937 11.6046 11.9999 11.7722C11.9999 11.9651 11.9233 12.15 11.7869 12.2864C11.6505 12.4228 11.4655 12.4994 11.2726 12.4994C11.1799 12.5033 11.0875 12.4878 11.0011 12.454C10.9147 12.4202 10.8363 12.3688 10.7708 12.3031L8 9.496L5.20008 12.2958C5.13863 12.3593 5.06522 12.4099 4.98409 12.4449C4.90296 12.4798 4.8157 12.4984 4.72737 12.4994C4.53449 12.4994 4.34951 12.4228 4.21313 12.2864C4.07674 12.15 4.00012 11.9651 4.00012 11.7722C3.99842 11.683 4.01497 11.5945 4.04873 11.5119C4.0825 11.4294 4.13277 11.3546 4.19648 11.2922L7.02548 8.49971L4.19648 5.67082C4.07661 5.55357 4.00633 5.39478 4.00012 5.22722C4.00012 5.03435 4.07674 4.84938 4.21313 4.713C4.34951 4.57662 4.53449 4.5 4.72737 4.5C4.90191 4.50218 5.06918 4.57272 5.19281 4.69635Z" fill="white" />
            </svg>
        </div>
        <div class="modal-body">
            <div class="modal-body-content">
            </div>
        </div>
        <div class="modal-footer">
            <div class="btn-full" onclick="OkOnOffTask(), CloseModal('modal-active-task')">
                Ок
            </div>
        </div>
    </div>
</div>
<div class="modal-wrapper" id="modal-add-task">
    
</div>
<div class="modal-wrapper" id="modal-task-info">
    <div class="modal">
        <div class="modal-header">
            <p>Информация о задаче</p>
            <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg" onclick="CloseModal('modal-task-info')">
                <path d="M5.19281 4.69635L8 7.50342L10.7926 4.71089C10.8543 4.64524 10.9286 4.59272 11.0111 4.55648C11.0936 4.52024 11.1825 4.50103 11.2726 4.5C11.4655 4.5 11.6505 4.57662 11.7869 4.713C11.9233 4.84938 11.9999 5.03435 11.9999 5.22722C12.0016 5.31638 11.985 5.40494 11.9513 5.48748C11.9175 5.57001 11.8672 5.64478 11.8035 5.70719L8.97452 8.49971L11.8035 11.3286C11.9234 11.4459 11.9937 11.6046 11.9999 11.7722C11.9999 11.9651 11.9233 12.15 11.7869 12.2864C11.6505 12.4228 11.4655 12.4994 11.2726 12.4994C11.1799 12.5033 11.0875 12.4878 11.0011 12.454C10.9147 12.4202 10.8363 12.3688 10.7708 12.3031L8 9.496L5.20008 12.2958C5.13863 12.3593 5.06522 12.4099 4.98409 12.4449C4.90296 12.4798 4.8157 12.4984 4.72737 12.4994C4.53449 12.4994 4.34951 12.4228 4.21313 12.2864C4.07674 12.15 4.00012 11.9651 4.00012 11.7722C3.99842 11.683 4.01497 11.5945 4.04873 11.5119C4.0825 11.4294 4.13277 11.3546 4.19648 11.2922L7.02548 8.49971L4.19648 5.67082C4.07661 5.55357 4.00633 5.39478 4.00012 5.22722C4.00012 5.03435 4.07674 4.84938 4.21313 4.713C4.34951 4.57662 4.53449 4.5 4.72737 4.5C4.90191 4.50218 5.06918 4.57272 5.19281 4.69635Z" fill="white" />
            </svg>
        </div>
        <div class="modal-body" id="task-details-content">
            
        </div>
        <div class="modal-footer">
            <div class="btn-full" onclick="ShowModal('modal-edit-task')">
                Редактировать
            </div>
        </div>
    </div>
</div>
<div class="modal-wrapper" id="modal-edit-task">
    <div class="modal">
        <div class="modal-header">
            <p>Редактирование задачи</p>
            <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg" onclick="CloseModal('modal-edit-task')">
                <path d="M5.19281 4.69635L8 7.50342L10.7926 4.71089C10.8543 4.64524 10.9286 4.59272 11.0111 4.55648C11.0936 4.52024 11.1825 4.50103 11.2726 4.5C11.4655 4.5 11.6505 4.57662 11.7869 4.713C11.9233 4.84938 11.9999 5.03435 11.9999 5.22722C12.0016 5.31638 11.985 5.40494 11.9513 5.48748C11.9175 5.57001 11.8672 5.64478 11.8035 5.70719L8.97452 8.49971L11.8035 11.3286C11.9234 11.4459 11.9937 11.6046 11.9999 11.7722C11.9999 11.9651 11.9233 12.15 11.7869 12.2864C11.6505 12.4228 11.4655 12.4994 11.2726 12.4994C11.1799 12.5033 11.0875 12.4878 11.0011 12.454C10.9147 12.4202 10.8363 12.3688 10.7708 12.3031L8 9.496L5.20008 12.2958C5.13863 12.3593 5.06522 12.4099 4.98409 12.4449C4.90296 12.4798 4.8157 12.4984 4.72737 12.4994C4.53449 12.4994 4.34951 12.4228 4.21313 12.2864C4.07674 12.15 4.00012 11.9651 4.00012 11.7722C3.99842 11.683 4.01497 11.5945 4.04873 11.5119C4.0825 11.4294 4.13277 11.3546 4.19648 11.2922L7.02548 8.49971L4.19648 5.67082C4.07661 5.55357 4.00633 5.39478 4.00012 5.22722C4.00012 5.03435 4.07674 4.84938 4.21313 4.713C4.34951 4.57662 4.53449 4.5 4.72737 4.5C4.90191 4.50218 5.06918 4.57272 5.19281 4.69635Z" fill="white" />
            </svg>
        </div>
        <div class="modal-body" id="edit-task-content">
            
        </div>
        <div class="modal-footer">
            <div class="btn-full">
                Сохранить
            </div>
        </div>
    </div>
</div>
<div class="modal-wrapper" id="modal-copy-task">
    <div class="modal">
        <div class="modal-header">
            <p>Копирование задачи test</p>
            <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg" onclick="CloseModal('modal-copy-task')">
                <path d="M5.19281 4.69635L8 7.50342L10.7926 4.71089C10.8543 4.64524 10.9286 4.59272 11.0111 4.55648C11.0936 4.52024 11.1825 4.50103 11.2726 4.5C11.4655 4.5 11.6505 4.57662 11.7869 4.713C11.9233 4.84938 11.9999 5.03435 11.9999 5.22722C12.0016 5.31638 11.985 5.40494 11.9513 5.48748C11.9175 5.57001 11.8672 5.64478 11.8035 5.70719L8.97452 8.49971L11.8035 11.3286C11.9234 11.4459 11.9937 11.6046 11.9999 11.7722C11.9999 11.9651 11.9233 12.15 11.7869 12.2864C11.6505 12.4228 11.4655 12.4994 11.2726 12.4994C11.1799 12.5033 11.0875 12.4878 11.0011 12.454C10.9147 12.4202 10.8363 12.3688 10.7708 12.3031L8 9.496L5.20008 12.2958C5.13863 12.3593 5.06522 12.4099 4.98409 12.4449C4.90296 12.4798 4.8157 12.4984 4.72737 12.4994C4.53449 12.4994 4.34951 12.4228 4.21313 12.2864C4.07674 12.15 4.00012 11.9651 4.00012 11.7722C3.99842 11.683 4.01497 11.5945 4.04873 11.5119C4.0825 11.4294 4.13277 11.3546 4.19648 11.2922L7.02548 8.49971L4.19648 5.67082C4.07661 5.55357 4.00633 5.39478 4.00012 5.22722C4.00012 5.03435 4.07674 4.84938 4.21313 4.713C4.34951 4.57662 4.53449 4.5 4.72737 4.5C4.90191 4.50218 5.06918 4.57272 5.19281 4.69635Z" fill="white" />
            </svg>
        </div>
        <div class="modal-body">
            <div class="modal-body-content">
                <div class="input-with-label">
                    <input placeholder="Новая задача">
                </div>
                <div class="input-checkbox">
                    <label class="toggle-checkbox">
                        <input type="checkbox" checked>
                        <span class="toggle-checkbox-switch"></span>
                    </label>
                    <p>Копировать шаги</p>
                </div>
            </div>
            <div class="main-table grid" scrollable="">
                <div class="table-header-div">
                    <table class="table-header">
                        <colgroup>
                            <col style="min-width:110px;width:110px;">
                            <col style="min-width:125px;width:125px;">
                            <col style="min-width:215px;width:215px;">
                            <col style="min-width:210px;width:210px;">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>
                                    <p>Копировать</p>
                                    <div class="separate"></div>
                                    <div class="sorter"></div>
                                </th>
                                <th>
                                    <p>Номер шага</p>
                                    <div class="separate"></div>
                                    <div class="sorter"></div>
                                </th>
                                <th>
                                    <p>Описание шага</p>
                                    <div class="separate"></div>
                                    <div class="sorter"></div>
                                </th>
                                <th>
                                    <p>Копировать св-ва операции</p>
                                    <div class="separate"></div>
                                    <div class="sorter"></div>
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="table-body-div">
                    <table class="table-body">
                        <colgroup>
                            <col style="min-width:110px;width:110px;">
                            <col style="min-width:125px;width:125px;">
                            <col style="min-width:215px;width:215px;">
                            <col style="min-width:210px;width:210px;">
                        </colgroup>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="input-checkbox">
                                        <label class="toggle-checkbox">
                                            <input type="checkbox" checked>
                                            <span class="toggle-checkbox-switch"></span>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-with-label">
                                        <input value="1" disabled>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-with-label">
                                        <input value="тест перемещения2" disabled>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-checkbox">
                                        <label class="toggle-checkbox">
                                            <input type="checkbox" checked>
                                            <span class="toggle-checkbox-switch"></span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="input-checkbox">
                                        <label class="toggle-checkbox">
                                            <input type="checkbox" checked>
                                            <span class="toggle-checkbox-switch"></span>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-with-label">
                                        <input value="2" disabled>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-with-label">
                                        <input value="тест копирования" disabled>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-checkbox">
                                        <label class="toggle-checkbox">
                                            <input type="checkbox" checked>
                                            <span class="toggle-checkbox-switch"></span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="input-checkbox">
                                        <label class="toggle-checkbox">
                                            <input type="checkbox" checked>
                                            <span class="toggle-checkbox-switch"></span>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-with-label">
                                        <input value="3" disabled>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-with-label">
                                        <input value="тест чтения" disabled>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-checkbox">
                                        <label class="toggle-checkbox">
                                            <input type="checkbox" checked>
                                            <span class="toggle-checkbox-switch"></span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="input-checkbox">
                                        <label class="toggle-checkbox">
                                            <input type="checkbox" checked>
                                            <span class="toggle-checkbox-switch"></span>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-with-label">
                                        <input value="4" disabled>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-with-label">
                                        <input value="тест наличия" disabled>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-checkbox">
                                        <label class="toggle-checkbox">
                                            <input type="checkbox" checked>
                                            <span class="toggle-checkbox-switch"></span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="input-checkbox">
                                        <label class="toggle-checkbox">
                                            <input type="checkbox" checked>
                                            <span class="toggle-checkbox-switch"></span>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-with-label">
                                        <input value="5" disabled>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-with-label">
                                        <input value="очистка буфера" disabled>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-checkbox">
                                        <label class="toggle-checkbox">
                                            <input type="checkbox" checked>
                                            <span class="toggle-checkbox-switch"></span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="input-checkbox">
                                        <label class="toggle-checkbox">
                                            <input type="checkbox" checked>
                                            <span class="toggle-checkbox-switch"></span>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-with-label">
                                        <input value="6" disabled>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-with-label">
                                        <input value="копир 2" disabled>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-checkbox">
                                        <label class="toggle-checkbox">
                                            <input type="checkbox" checked>
                                            <span class="toggle-checkbox-switch"></span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="input-checkbox">
                                        <label class="toggle-checkbox">
                                            <input type="checkbox" checked>
                                            <span class="toggle-checkbox-switch"></span>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-with-label">
                                        <input value="7" disabled>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-with-label">
                                        <input value="тест удаления" disabled>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-checkbox">
                                        <label class="toggle-checkbox">
                                            <input type="checkbox" checked>
                                            <span class="toggle-checkbox-switch"></span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="input-checkbox">
                                        <label class="toggle-checkbox">
                                            <input type="checkbox" checked>
                                            <span class="toggle-checkbox-switch"></span>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-with-label">
                                        <input value="8" disabled>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-with-label">
                                        <input value="rename" disabled>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-checkbox">
                                        <label class="toggle-checkbox">
                                            <input type="checkbox" checked>
                                            <span class="toggle-checkbox-switch"></span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="btn-full">
                Отмена
            </div>
            <div class="btn-full">
                Ок
            </div>
        </div>
    </div>
</div>



<script>
    var selectGroup = "Все";
    window.addEventListener('load', () => {
        document.getElementById('breadcrumbs-taskgroup').innerText = selectGroup;
        ShowTaskList(selectGroup);
        func();

    });
    function func() {
        window.progressID = setInterval(f1, 10000);
    }
    function f1() {
         ShowTaskList(selectGroup);
    }
    function ShowTaskList(group) {
        selectGroup = group;
        document.getElementById('breadcrumbs-taskgroup').innerText = selectGroup;
        document.cookie = "selectedTaskGroup=" + group;
        $.ajax({
            method: 'POST',
            url: '@Url.Action("TasksList", "Task")',
            data: { "taskGroup": selectGroup },
            dataType: 'html',
            success: function (result) {
                $('#tasks').empty();
                $('#tasks').append(result);
            }
        });
    }

    var isActivatedTask;
    function OnOffTask(id) {

        // Объявить переменные
        var table, tr, td, i, txtValue;

        table = document.getElementById("tableTasks");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.innerText;
                if (txtValue == id) {
                    var qwe = tr[i].getElementsByTagName("td")[8];
                    var chl1 = qwe.firstElementChild.firstElementChild.firstElementChild.checked;
                    isActivatedTask = chl1;
                }
            }
        }
        if (chl1 == true) {
            document.getElementById('titleInfo').innerText = "Включить";
        } else {
            document.getElementById('titleInfo').innerText = "Выключить";
        }
        document.getElementById('idTaskInfo').innerText = id;

    }


    function OkOnOffTask() {
        var id = document.getElementById('idTaskInfo').innerText
        $.ajax({
            type: 'POST',
            url: '@Url.Action("ActivatedTask", "Task")',
            data: { "id": id },
            dataType: 'html',
            success: function (result) {
                f1();
            }
        });

    }
    function CancelOnOffTask() {
        var table, tr, td, i, txtValue;

        table = document.getElementById("tableTasks");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.innerText;
                if (txtValue == document.getElementById('idTaskInfo').innerText) {
                    var qwe = tr[i].getElementsByTagName("td")[8];
                    qwe.firstElementChild.firstElementChild.firstElementChild.checked = !isActivatedTask;

                }
            }
        }

    }

    

    function CreateTask() {

    }
    
</script>


@* <div class="container-fluid" style="padding-left: 0px; padding-right: 0px;">

    <div class="modal fade" id="modalCopyTask" data-bs-backdrop="static"
         data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="modalCopyTaskLabel" aria-hidden="true" >
        <div class="modal-dialog modal-dialog-centered" style="max-width: 800px;">
            <form method="post" class="modal-content" asp-action="CopyTask" asp-controller="Task">

                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabelCopy">Копирование задачи</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick=""></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-auto">
                            <input name="idTask" type="text" readonly class="form-control-plaintext" id="copyIdTask">
                        </div>
                        <div class="col-auto">
                            <input name="newIdTask" type="text" class="form-control" id="newTaskId" placeholder="новая задача">
                        </div>
                    </div>

                    <div class="form-check form-switch">
                        <label class="form-check-label">
                            Копировать Шаги
                            <input name="isCopySteps" id="isCopySteps" type="checkbox" class="form-check-input" onclick="ShowCopySteps()" />
                        </label>
                    </div>
                    <div id="copySteps" style="display: none;">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="">Отмена</button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" onclick="">Ок</button>
                </div>
            </form>






        </div>
    </div>

    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="CancelOnOffTask()"></button>
                </div>
                <div class="modal-body">
                    <p><span id="titleInfo"></span> задачу <span id="idTaskInfo"></span> ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="CancelOnOffTask()">Отмена</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="OkOnOffTask()">Ок</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="staticBackdropCopy" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabelCopy" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabelCopy">Новая группа задач</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="clearNewGroup()"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label">Название группы</label>
                        <input class="form-control" id="nameNewGroup" />
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="clearNewGroup()">Отмена</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="createGroup()">Ок</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalDeleteGroup" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="labelModalDeleteGroup" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="labelModalDeleteGroup">Удалить группу <span id="nameDeleteGroup"></span> ?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="clearNewGroup()"></button>
                </div>
                <div class="modal-body">
                    <p>
                        Задачи будут перенесены в общую группу
                    </p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="clearNewGroup()">Отмена</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="deleteTaskGroup()">Ок</button>
                </div>
            </div>
        </div>
    </div>


    <div class="mainDiv">
        <div class="listGroups d-flex flex-column align-items-stretch flex-shrink-0 padding-top-container" style="width: 15%;">

            <div class="list-group list-group-flush scrollarea" style="max-height: 85vh;">
                <div class="row justify-content-between" style="margin-right: 0px;">
                    <div class="col-11" style="padding-left: 20px; border-bottom: solid 1px black;">
                        <h6><b>Группы задач</b></h6>
                    </div>
                    <div class="col-1 p-0">
                        <a class="btn p-0" data-bs-toggle="modal" data-bs-target="#staticBackdropCopy">
                            <img id="btn-add-group-task" src="~/images/add_icon.png" />
                        </a>

                    </div>
                </div>




                <table class="tabl1">
                    <tr class="list-group-item py-3 lh-tight " onclick="foo('Все')">
                        <td>
                            <div class="col-11">
                                <span>Все</span>
                            </div>
                        </td>
                        <td style="display: none;">
                        </td>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr class="list-group-item py-3 lh-tight " onclick="foo('@item.Name')">
                            <td>
                                <div class="col-11">
                                    <span>@item.Name</span>
                                </div>
                            </td>
                            <td style="display: none;">
                                @if (item.Name != "Без группы" && item.Name != "Все")
                                {
                                    <div class="col-1">
                                        <a data-bs-toggle="modal" data-bs-target="#modalDeleteGroup" onclick="modalDelete('@item.Id', '@item.Name')">
                                            <img src="~/images/delete_icon.png" alt="Удалить" title="Удалить" />
                                        </a>
                                    </div>
                                }
                            </td>
                        </tr>
                    }

                </table>

            </div>
        </div>


        <div class="b-example-divider scrollarea padding-top-container" id="tasks">
        </div>


    </div>
</div> 


<script>

    var selectGroup = "Все";

    window.addEventListener('load', () => {
        var firstGroup = document.querySelectorAll("tbody tr");
        firstGroup[0].classList.add('selected-row');

        foo(selectGroup);
        func();

    });

    var trs = document.querySelectorAll("tbody tr");
    for (var i = 0; i < trs.length; i++) {
        MakeRowHover(trs[i], i);
    }

    function MakeRowHover(row, numRow) {
        row.addEventListener("click", function (numRow) {
            selectedTask = 0;
            let td = this.querySelectorAll('td');
            for (var i = 0; i < trs.length; i++) {
                td[1].style.display = 'block';
                trs[i].classList.add('selected-row');
            }
            for (var i = 0; i < trs.length; i++) {
                if (trs[i] != this) {
                    td = trs[i].querySelectorAll('td');
                    td[1].style.display = 'none';
                    trs[i].classList.remove('selected-row');
                }
            }
        });


    }





    function func() {

        window.progressID = setInterval(f1, 10000);
    }
    function f1() {
        foo(selectGroup);
    }
    function foo(group) {
        selectGroup = group
        document.cookie = "selectedTaskGroup=" + group;
        $.ajax({
            method: 'POST',
            url: '@Url.Action("TasksList", "Task")',
            data: { "taskGroup": group },
            dataType: 'html',
            success: function (result) {
                $('#tasks').empty();
                $('#tasks').append(result);
            }
        });
    }

    function createGroup() {
        var newGroup = document.getElementById("nameNewGroup").value;
        if (newGroup != "" & newGroup[0] != " ") {
            $.ajax({
                method: 'POST',
                url: '@Url.Action("CreateTaskGroup", "Task")',
                data: { "nameGroup": newGroup },
                dataType: 'html',
                success: function (result) {
                    window.location.href = '@Url.Action("Tasks", "Task")'
                }
            });
        }
        clearNewGroup();
    }
    var idDeleteGroup;
    function deleteTaskGroup() {
        var nameGroup = document.getElementById("nameDeleteGroup").innerText;
        $.ajax({
            method: 'POST',
            url: '@Url.Action("DeleteTaskGroup", "Task")',
            data: { "idDeleteGroup": idDeleteGroup },
            dataType: 'html',
            success: function (result) {
                window.location.href = '@Url.Action("Tasks", "Task")'
            }
        });
    }

    function clearNewGroup() {
        document.getElementById("nameNewGroup").value = '';
    }

    function modalDelete(id, name) {
        document.getElementById("nameDeleteGroup").innerText = name;
        idDeleteGroup = id;
    }

    function detailsTask(taskId) {
        location.href = "@Url.Action("TaskDetails", "Task", new { taskId = "cid" })".replace("cid", taskId.toString());
    }


    function OnOffTask(id) {

        // Объявить переменные
        var table, tr, td, i, txtValue, valueCheck;

        table = document.getElementById("tableTasks");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.innerText;
                if (txtValue == id) {
                    var qwe = tr[i].getElementsByTagName("td")[7];
                    var chl1 = qwe.firstElementChild.firstElementChild.firstElementChild.checked;

                }
            }
        }
        if (chl1 == true) {
            document.getElementById('titleInfo').innerText = "Включить";
        } else {
            document.getElementById('titleInfo').innerText = "Выключить";
        }
        document.getElementById('idTaskInfo').innerText = id;
    }


    function OkOnOffTask() {
        var id = document.getElementById('idTaskInfo').innerText
        $.ajax({
            type: 'POST',
            url: '@Url.Action("ActivatedTask", "Task")',
            data: { "id": id },
            dataType: 'html',
            success: function (result) {
                f1();
            }
        });

    }
    function CancelOnOffTask() {
        var table, tr, td, i, txtValue, valueCheck;

        table = document.getElementById("tableTasks");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.innerText;
                if (txtValue == document.getElementById('idTaskInfo').innerText) {
                    var qwe = tr[i].getElementsByTagName("td")[7];
                    qwe.firstElementChild.firstElementChild.firstElementChild.checked = !qwe.firstElementChild.firstElementChild.firstElementChild.checked;

                }
            }
        }

    }


    function CopySteps() {
        document.getElementById('copyIdTask').value = idSelectedTask;


    }

    function ShowCopySteps() {
         $.ajax({
            method: 'POST',
            url: '@Url.Action("StepsForCopy", "Task")',
            data: { "taskId": idSelectedTask },
            dataType: 'html',
            success: function (result) {
                $('#copySteps').empty();
                $('#copySteps').append(result);
            }
        });

        var st = document.getElementById('isCopySteps');
        if (st.checked) {
            document.getElementById('copySteps').style.display = 'block';
        } else {
            document.getElementById('copySteps').style.display = 'none';
        }
    }

</script>
*@