@using FileManager.Domain.Entity
@using FileManager.Domain.Enum
@using FileManager_Web.ViewModels
@using System.Web;
@using X.PagedList;
@using X.PagedList.Mvc.Core

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@* @model X.PagedList.IPagedList<TaskLogEntity> *@
	@model TaskLogViewModel
@{
    ViewData["Title"] = "Транспорт: Журнал задачи";
}


<div class="main-content">
    <div class="breadcrumbs">
        <svg class="arrow-back" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.32018 12.7335C7.15944 12.9041 6.94146 13 6.71417 13C6.48689 13 6.26891 12.9041 6.10817 12.7335L2.25096 8.63796C2.09027 8.46729 2 8.23584 2 7.99451C2 7.75317 2.09027 7.52172 2.25096 7.35105L6.10817 3.25548C6.26983 3.0897 6.48635 2.99796 6.71109 3.00004C6.93583 3.00211 7.15082 3.09783 7.30974 3.26657C7.46867 3.43531 7.55881 3.66359 7.56077 3.90222C7.56272 4.14085 7.47632 4.37075 7.32018 4.5424L4.99986 7.08438L13.1428 7.08438C13.3702 7.08438 13.5882 7.18027 13.7489 7.35095C13.9097 7.52163 14 7.75313 14 7.99451C14 8.23589 13.9097 8.46738 13.7489 8.63806C13.5882 8.80874 13.3702 8.90463 13.1428 8.90463H4.99986L7.32018 11.4466C7.48088 11.6173 7.57115 11.8487 7.57115 12.0901C7.57115 12.3314 7.48088 12.5629 7.32018 12.7335Z" fill="var(--gray)" />
        </svg>
        <a href="#" onclick="Tasks(getCookie('selectedTaskGroup'))">Главная страница</a>
        <svg width="6" height="16" viewBox="0 0 6 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.13941 5.15408C1.04075 5.25277 0.985327 5.3866 0.985327 5.52614C0.985327 5.66569 1.04075 5.79952 1.13941 5.89821L3.74438 8.50318L1.13941 11.1081C1.04355 11.2074 0.990502 11.3403 0.991701 11.4783C0.9929 11.6163 1.04825 11.7483 1.14582 11.8459C1.24339 11.9434 1.37538 11.9988 1.51337 12C1.65135 12.0012 1.78428 11.9481 1.88353 11.8523L4.86057 8.87524C4.95923 8.77655 5.01465 8.64272 5.01465 8.50318C5.01465 8.36363 4.95923 8.2298 4.86057 8.13111L1.88353 5.15408C1.78485 5.05542 1.65102 5 1.51147 5C1.37193 5 1.2381 5.05542 1.13941 5.15408Z" fill="var(--gray)" />
        </svg>
        <a href="#" onclick="Tasks(getCookie('selectedTaskGroup'))">Задачи</a>
        <svg width="6" height="16" viewBox="0 0 6 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.13941 5.15408C1.04075 5.25277 0.985327 5.3866 0.985327 5.52614C0.985327 5.66569 1.04075 5.79952 1.13941 5.89821L3.74438 8.50318L1.13941 11.1081C1.04355 11.2074 0.990502 11.3403 0.991701 11.4783C0.9929 11.6163 1.04825 11.7483 1.14582 11.8459C1.24339 11.9434 1.37538 11.9988 1.51337 12C1.65135 12.0012 1.78428 11.9481 1.88353 11.8523L4.86057 8.87524C4.95923 8.77655 5.01465 8.64272 5.01465 8.50318C5.01465 8.36363 4.95923 8.2298 4.86057 8.13111L1.88353 5.15408C1.78485 5.05542 1.65102 5 1.51147 5C1.37193 5 1.2381 5.05542 1.13941 5.15408Z" fill="var(--gray)" />
        </svg>
        <a href="#" onclick="Tasks(getCookie('selectedTaskGroup'))" id="breadcrumbs-taskgroup"></a>
        <svg width="6" height="16" viewBox="0 0 6 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.13941 5.15408C1.04075 5.25277 0.985327 5.3866 0.985327 5.52614C0.985327 5.66569 1.04075 5.79952 1.13941 5.89821L3.74438 8.50318L1.13941 11.1081C1.04355 11.2074 0.990502 11.3403 0.991701 11.4783C0.9929 11.6163 1.04825 11.7483 1.14582 11.8459C1.24339 11.9434 1.37538 11.9988 1.51337 12C1.65135 12.0012 1.78428 11.9481 1.88353 11.8523L4.86057 8.87524C4.95923 8.77655 5.01465 8.64272 5.01465 8.50318C5.01465 8.36363 4.95923 8.2298 4.86057 8.13111L1.88353 5.15408C1.78485 5.05542 1.65102 5 1.51147 5C1.37193 5 1.2381 5.05542 1.13941 5.15408Z" fill="var(--gray)" />
        </svg>
        <a href="#" onclick="Tasks(getCookie('selectedTaskGroup'))" id="breadcrumbs-task">getCookie('selectedTaskGroup')</a>
        <svg width="6" height="16" viewBox="0 0 6 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.13941 5.15408C1.04075 5.25277 0.985327 5.3866 0.985327 5.52614C0.985327 5.66569 1.04075 5.79952 1.13941 5.89821L3.74438 8.50318L1.13941 11.1081C1.04355 11.2074 0.990502 11.3403 0.991701 11.4783C0.9929 11.6163 1.04825 11.7483 1.14582 11.8459C1.24339 11.9434 1.37538 11.9988 1.51337 12C1.65135 12.0012 1.78428 11.9481 1.88353 11.8523L4.86057 8.87524C4.95923 8.77655 5.01465 8.64272 5.01465 8.50318C5.01465 8.36363 4.95923 8.2298 4.86057 8.13111L1.88353 5.15408C1.78485 5.05542 1.65102 5 1.51147 5C1.37193 5 1.2381 5.05542 1.13941 5.15408Z" fill="var(--gray)" />
        </svg>
        <a href="#" class="active-page">Журнал</a>
    </div>
    <div class="table-toolbar">
        <div class="toolbar-left">
            <div class="filter-wrapper">
                <div class="btn-full btn-filter" onclick="ShowHideSubMenu('filter')">
                    Фильтр
                </div>
                <div class="filter" id="filter">
                    <form class="filter-body" method="post" asp-route-taskId="@ViewBag.TaskId" id="filter-form">
                        <div class="filter-body-row">
                            <div class="filter-body-column">
                                <div class="input-with-label">
                                    <label asp-for="PageSize"></label>
                                    <input asp-for="PageSize">
                                </div>
                                <div class="input-with-label">
                                    <label asp-for="DateFrom"></label>
                                    <input type="date" asp-for="DateFrom">
                                </div>
                                <div class="input-with-label">
                                    <label asp-for="StepNumber"></label>
                                    <input asp-for="StepNumber" min="0">
                                </div>
                                <div class="input-with-label">
                                    <label asp-for="ResultOperation">Результат</label>
                                    <div class="select-wrapper">
                                        <select asp-for="ResultOperation" asp-items="Html.GetEnumSelectList<ResultOperation>()"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="filter-body-column">
                                <div class="input-with-label">
                                    <label asp-for="TaskId"></label>
                                    <input asp-for="TaskId">
                                </div>
                                <div class="input-with-label">
                                    <label asp-for="DateTo"></label>
                                    <input type="date" asp-for="DateTo">
                                </div>
                                <div class="input-with-label">
                                    <label asp-for="OperationName"></label>
                                    <div class="select-wrapper">
                                        <select asp-for="OperationName" asp-items="Html.GetEnumSelectList<OperationName>()"></select>
                                    </div>
                                </div>
                                <div class="input-with-label">
                                    <label asp-for="FileName"></label>
                                    <input asp-for="FileName">
                                </div>
                            </div>
                        </div>
                        <div class="filter-body-row">
                            <div class="input-with-label">
                                <label>Сообщение</label>
                                <input style="width: 664px;">
                            </div>
                        </div>
                    </form>
                    <div class="filter-footer">
                        <button form="filter-form" class="btn-full">
                            Поиск
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="toolbar-right">
        </div>
    </div>
    <div class="main-table grid" scrollable="">
        <div class="table-header-div">
            <table class="table-header">
                <colgroup>
                    <col style="min-width:170px;width:170px;">
                    <col style="min-width:135px;width:135px;">
                    <col style="min-width:140px;width:140px;">
                    <col style="min-width:140px;width:140px;">
                    <col style="min-width:150px;width:150px;">
                    <col style="min-width:170px;width:170px;">
                    <col style="min-width:110px;width:100%;">
                </colgroup>
                <thead>
                    <tr>
                        <th>
                            <p>Дата-время события</p>
                            <div class="separate"></div>
                            <div class="sorter"></div>
                        </th>
                        <th>
                            <p>Задача</p>
                            <div class="separate"></div>
                            <div class="sorter"></div>
                        </th>
                        <th>
                            <p>Номер шага</p>
                            <div class="separate"></div>
                            <div class="sorter"></div>
                        </th>
                        <th>
                            <p>Операция</p>
                            <div class="separate"></div>
                            <div class="sorter"></div>
                        </th>
                        <th>
                            <p>Результат</p>
                            <div class="separate"></div>
                            <div class="sorter"></div>
                        </th>
                        <th>
                            <p>Имя файла</p>
                            <div class="separate"></div>
                            <div class="sorter"></div>
                        </th>
                        <th>
                            <p>Сообщение</p>
                            <div class="separate"></div>
                            <div class="sorter"></div>
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="table-body-div">
            <table class="table-body">
                <colgroup>
                    <col style="min-width:170px;width:170px;">
                    <col style="min-width:135px;width:135px;">
                    <col style="min-width:140px;width:140px;">
                    <col style="min-width:140px;width:140px;">
                    <col style="min-width:150px;width:150px;">
                    <col style="min-width:170px;width:170px;">
                    <col style="min-width:110px;width:100%;">
                </colgroup>
                <tbody>
                    @foreach (var item in Model.Logs)
                    {
                        <tr>
                            <td><p>@item.DateTimeLog</p></td>
                            <td><p>@item.TaskId</p></td>
                            <td><p>@item.StepNumber</p></td>
                            <td><p>@item.OperationName</p></td>
                            <td><p>@item.ResultOperation</p></td>
                            <td><p>@item.FileName</p></td>
                            <td><p>@item.ResultText</p></td>
                        </tr>
                    }


                </tbody>
            </table>
        </div>
    </div>
</div>
<footer>
    <div class="pagination">
        @* Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount *@

        @Html.PagedListPager(Model.Logs,
                 page => Url.Action("TaskLog",
                 new
                 {
                     model = Model,
                     page = page,
                     taskid = Model.TaskId
                 })
                 ,
                 new PagedListRenderOptions
        {
            DisplayEllipsesWhenNotShowingAllPageNumbers = true,
            LiElementClasses = new string[] { "btn-short", "page-number" },
            UlElementClasses = new string[] { "pagination-buttons" },
            PageClasses = new string[] { "pagination" }
        }
                 )

    </div>
</footer>



<script>
    window.addEventListener('load', () => {
        document.getElementById('breadcrumbs-taskgroup').innerText = getCookie('selectedTaskGroup');
        document.getElementById('breadcrumbs-task').innerText = getCookie('selectedTask');

    });
</script>