@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using FileManager.Domain.Enum
@model FileManager.Domain.Entity.OperationCopyEntity
@{
	SelectList addresseeGroups = new SelectList(ViewBag.AddresseeGroups, "Id", "Name");
}
<div class="container-fluid position-relative" style=" min-height: 100%;">
	@if (Model != null)
	{
		<button class="btn btn-info" id="btnEdit" onclick="ShowEditForm()">Редактировать</button>
		<button class="btn btn-warning" onclick="HideEditForm()" id="btnCancelEdit" style="display:none;">Отмена</button>

		<div id="infoOperation">
			<p>stepId - @Model.StepId</p>
			<p>operId - @Model.OperationId</p>

			<p>Информировать об успехе - @Model.InformSuccess</p>
			<p>Группа рассылки - @Model.AddresseeGroupId</p>
			<p>Дополнительный текст - @Model.AdditionalText</p>
			<br />

			<p>Файл есть в источнике - @Model.FileInSource</p>
			<p>Файл есть в назначении - @Model.FileInDestination</p>
			<p>Дубль по журналу - @Model.FileInLog</p>
			<p>Сортировка - @Model.Sort</p>
			<p>Кол-во файлов - @Model.FilesForProcessing</p>
			<p>Аттрибуты - @Model.FileAttribute</p>
		</div>

		<form asp-action="EditOperationCopy" asp-controller="Operation" asp-route-operationId="@Model.OperationId" method="post" id="editForm" style="display: none;">
			<div class="form-group">
				<label asp-for="InformSuccess" class="form-check-label">
					Информировать об успехе
					<input type="checkbox" class="form-check-input" asp-for="InformSuccess" />
				</label>
			</div>
			<div class="form-group">
				<label asp-for="AddresseeGroupId" class="control-label"></label>
				<select asp-for="AddresseeGroupId" class="form-select mb-3" asp-items=@addresseeGroups></select>
				<span asp-validation-for="AddresseeGroupId" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="AdditionalText" class="control-label"></label>
				<input asp-for="AdditionalText" class="form-control" />
				<span asp-validation-for="AdditionalText" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="FileInSource" class="control-label"></label>
				<select asp-for="FileInSource" class="form-select mb-3" asp-items="Html.GetEnumSelectList<FileInSource>()"></select>
				<span asp-validation-for="FileInSource" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="FileInDestination" class="control-label"></label>
				<select asp-for="FileInDestination" class="form-select mb-3" asp-items="Html.GetEnumSelectList<FileInDestination>()"></select>
				<span asp-validation-for="FileInDestination" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="FileInLog" class="form-check-label">
					Дубль по журналу
					<input type="checkbox" class="form-check-input" asp-for="FileInLog" />
				</label>
			</div>
			<div class="form-group">
				<label asp-for="Sort" class="control-label"></label>
				<select asp-for="Sort" class="form-select mb-3" asp-items="Html.GetEnumSelectList<SortFiles>()"></select>
				<span asp-validation-for="Sort" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="FilesForProcessing" class="control-label"></label>
				<input asp-for="FilesForProcessing" class="form-control" />
				<span asp-validation-for="FilesForProcessing" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="FileAttribute" class="control-label"></label>
				<select asp-for="FileAttribute" class="form-select mb-3" asp-items="Html.GetEnumSelectList<AttributeFile>()"></select>
				<span asp-validation-for="FileAttribute" class="text-danger"></span>
			</div>
			<button type="submit" class="btn btn-success" onclick="HideEditForm()">Сохранить</button>
		</form>

	}
	else
	{
		<button class="btn btn-info" onclick="ShowCreateForm()" id="btnCreate">Добавить</button>
		<button class="btn btn-warning" onclick="HideCreateForm()" id="btnCancelCreate" style="display:none;">Отмена</button>
		<h3 id="headr">Свойства операции не настроены</h3>

		<form asp-action="CreateOperationCopy" asp-controller="Operation" 
			asp-route-operationModel="@Model" asp-route-stepId="@ViewBag.StepId" 
			method="post" id="createForm" style="display: none;">

			<div class="form-group">
				<label asp-for="StepId" class="control-label"></label>
				<input asp-for="StepId" class="form-control" readonly/>
				<span asp-validation-for="StepId" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="StepId" class="control-label"></label>
				<input asp-for="StepId" class="form-control" readonly/>
				<span asp-validation-for="StepId" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="InformSuccess" class="form-check-label">
					Информировать об успехе
					<input type="checkbox" class="form-check-input" asp-for="InformSuccess" />
				</label>
			</div>
			<div class="form-group">
				<label asp-for="AddresseeGroupId" class="control-label"></label>
				<select asp-for="AddresseeGroupId" class="form-select mb-3" asp-items=@addresseeGroups></select>
				<span asp-validation-for="AddresseeGroupId" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="AdditionalText" class="control-label"></label>
				<input asp-for="AdditionalText" class="form-control" />
				<span asp-validation-for="AdditionalText" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="FileInSource" class="control-label"></label>
				<select asp-for="FileInSource" class="form-select mb-3" asp-items="Html.GetEnumSelectList<FileInSource>()"></select>
				<span asp-validation-for="FileInSource" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="FileInDestination" class="control-label"></label>
				<select asp-for="FileInDestination" class="form-select mb-3" asp-items="Html.GetEnumSelectList<FileInDestination>()"></select>
				<span asp-validation-for="FileInDestination" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="FileInLog" class="form-check-label">
					Дубль по журналу
					<input type="checkbox" class="form-check-input" asp-for="FileInLog" />
				</label>
			</div>
			<div class="form-group">
				<label asp-for="Sort" class="control-label"></label>
				<select asp-for="Sort" class="form-select mb-3" asp-items="Html.GetEnumSelectList<SortFiles>()"></select>
				<span asp-validation-for="Sort" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="FilesForProcessing" class="control-label"></label>
				<input type="number" asp-for="FilesForProcessing" class="form-control" value="0"/>
				<span asp-validation-for="FilesForProcessing" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="FileAttribute" class="control-label"></label>
				<select asp-for="FileAttribute" class="form-select mb-3" asp-items="Html.GetEnumSelectList<AttributeFile>()"></select>
				<span asp-validation-for="FileAttribute" class="text-danger"></span>
			</div>
			<button type="submit" class="btn btn-success" onclick="HideCreateForm()">Сохранить</button>
		</form>

	}
</div>
