@using System.Web;
@using FileManager.ViewModels
@using X.PagedList;
@using X.PagedList.Mvc.Core
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model TaskLogViewModel
@{
    ViewData["Title"] = "Транспорт: Журнал задачи";
}

<div class="main-content">
    <div class="table-toolbar">
        <div class="toolbar-left">
            <div class="btn-full" onclick="ReloadPage()">
                Обновить
            </div>
            <div class="filter-wrapper">
                
                <div class="btn-full btn-filter" onclick="ShowHideSubMenu('filter')">
                    Фильтр
                </div>
                <div class="filter" id="filter">
                    <form class="filter-body" method="post" asp-route-taskId="@ViewBag.TaskId" id="filter-form">
                        <div class="filter-body-row">
                            <div class="filter-body-column">
                                <div class="input-with-label">
                                    <label asp-for="PageSize"></label>
                                    <input asp-for="PageSize">
                                </div>
                                <div class="input-with-label">
                                    <label asp-for="DateFrom"></label>
                                    <input type="date" asp-for="DateFrom">
                                </div>
                                <div class="input-with-label">
                                    <label asp-for="DateTo"></label>
                                    <input type="date" asp-for="DateTo">
                                </div>
                                <div class="input-with-label">
                                    <label asp-for="StepNumber"></label>
                                    <input asp-for="StepNumber" min="0">
                                </div>
                                <div class="input-with-label">
                                    <label asp-for="ResultOperation">Результат</label>
                                    <div class="select-wrapper">
                                        <select asp-for="ResultOperation" asp-items="Html.GetEnumSelectList<ResultOperation>()"></select>
                                    </div>
                                </div>
                                <div class="input-with-label">
                                    <label asp-for="SortLogs"></label>
                                    <div class="select-wrapper">
                                        <select asp-for="SortLogs" asp-items="Html.GetEnumSelectList<SortLogs>()"></select>
                                    </div>
                                </div>
                                <div class="input-with-label">
                                    <label asp-for="FieldSortLogs"></label>
                                    <div class="select-wrapper">
                                        <select asp-for="FieldSortLogs" asp-items="Html.GetEnumSelectList<FieldSortLogs>()"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="filter-body-column">
                                <div class="input-with-label">
                                    <label asp-for="TaskId"></label>
                                    <input asp-for="TaskId">
                                </div>
                                <div class="input-with-label">
                                    <label asp-for="TimeFrom"></label>
                                    <input type="time" asp-for="TimeFrom" step="1">
                                </div>
                                <div class="input-with-label">
                                    <label asp-for="TimeTo"></label>
                                    <input type="time" asp-for="TimeTo" step="1">
                                </div>
                                <div class="input-with-label">
                                    <label asp-for="OperationName"></label>
                                    <div class="select-wrapper">
                                        <select asp-for="OperationName" asp-items="Html.GetEnumSelectList<OperationName>()"></select>
                                    </div>
                                </div>
                                <div class="input-with-label">
                                    <label asp-for="FileName"></label>
                                    <input asp-for="FileName">
                                    <div class="input-checkbox">
                                        <label asp-for="NotEqualFileName" class="toggle-checkbox">
                                            <input asp-for="@Model.NotEqualFileName" type="checkbox" checked="@Model.NotEqualFileName">
                                            <span class="toggle-checkbox-switch"></span>
                                        </label>
                                        <p>Не равно</p>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="filter-body-row">
                            <div class="input-with-label">
                                <label>Сообщение</label>
                                <input style="width: 664px;">
                            </div>
                        </div>
                    </form>
                    <div class="filter-footer">
                        <button type="submit" form="filter-form" class="btn-full">
                            Поиск
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="toolbar-right">
        </div>
    </div>
    <div class="main-table grid" scrollable="">
        <div class="table-header-div">
            <table class="table-header">
                <colgroup>
                    <col style="min-width:170px;width:170px;">
                    <col style="min-width:135px;width:135px;">
                    <col style="min-width:140px;width:140px;">
                    <col style="min-width:140px;width:140px;">
                    <col style="min-width:150px;width:150px;">
                    <col style="min-width:170px;width:170px;">
                    <col style="min-width:110px;width:100%;">
                </colgroup>
                <thead>
                    <tr>
                        <th>
                            <p>Дата-время события</p>
                            <div class="separate"></div>
                            <div class="sorter"></div>
                        </th>
                        <th>
                            <p>Задача</p>
                            <div class="separate"></div>
                            <div class="sorter"></div>
                        </th>
                        <th>
                            <p>Номер шага</p>
                            <div class="separate"></div>
                            <div class="sorter"></div>
                        </th>
                        <th>
                            <p>Операция</p>
                            <div class="separate"></div>
                            <div class="sorter"></div>
                        </th>
                        <th>
                            <p>Результат</p>
                            <div class="separate"></div>
                            <div class="sorter"></div>
                        </th>
                        <th>
                            <p>Имя файла</p>
                            <div class="separate"></div>
                            <div class="sorter"></div>
                        </th>
                        <th>
                            <p>Сообщение</p>
                            <div class="separate"></div>
                            <div class="sorter"></div>
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="table-body-div">
            <table class="table-body">
                <colgroup>
                    <col style="min-width:170px;width:170px;">
                    <col style="min-width:135px;width:135px;">
                    <col style="min-width:140px;width:140px;">
                    <col style="min-width:140px;width:140px;">
                    <col style="min-width:150px;width:150px;">
                    <col style="min-width:170px;width:170px;">
                    <col style="min-width:110px;width:100%;">
                </colgroup>
                <tbody>
                    @foreach (var item in Model.Logs)
                    {
                        <tr>
                            <td><p>@item.DateTimeLog</p></td>
                            <td><p>@item.TaskId</p></td>
                            <td><p>@item.StepNumber</p></td>
                            <td><p>@item.OperationName</p></td>
                            <td><p>@item.ResultOperation</p></td>
                            <td><p>@item.FileName</p></td>
                            <td><p>@item.ResultText</p></td>
                        </tr>
                    }


                </tbody>
            </table>
        </div>
    </div>
</div>
<footer>
    <div class="pagination">
        @* Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount *@

        @Html.PagedListPager(Model.Logs,
                 page => Url.Action("TaskLog",
                 new
                 {
                     model = Model,
                     page = page,
                     taskid = Model.TaskId
                 })
                 ,
                 new PagedListRenderOptions
                    {
                        DisplayEllipsesWhenNotShowingAllPageNumbers = true,
                        LiElementClasses = new string[] { "btn-short", "page-number" },
                        UlElementClasses = new string[] { "pagination-buttons" },
                        PageClasses = new string[] { "pagination" }
                    }
        )

    </div>
</footer>



<script>
    window.addEventListener('load', () => {
        //document.getElementById('breadcrumbs-taskgroup').innerText = getCookie('selectedTaskGroup');
        //document.getElementById('breadcrumbs-task').innerText = getCookie('selectedTask');

    });

    function ReloadPage(){
        window.location.reload()
    }
</script>